---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>
Disabled checkboxes prevent user interaction and appear at 38% opacity following Material Design 3 guidelines. Add the <code class='highlighter-rouge' data-lang='html'>disabled</code> boolean attribute to disable the checkbox.
</p>

<DemoComponentCard lang={'html'}>
  <base-checkbox disabled>Disabled checkbox</base-checkbox>
  <base-checkbox disabled value='true'>Disabled checked</base-checkbox>
</DemoComponentCard>
