---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>The indeterminate state is useful when the checkbox represents a parent of a group of checkboxes, and some but not all children are selected.</p>

<DemoComponentCard lang={'html'}>
  <wc-checkbox indeterminate='true'>Select All</wc-checkbox>
  <wc-checkbox value='true'>Option 1</wc-checkbox>
  <wc-checkbox>Option 2</wc-checkbox>
</DemoComponentCard>
