---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<p class='text-body-large'>Here are several predefined checkbox sizes, each serving its own semantic purpose.</p>

<HighlighterCard lang={'html'}>
  <goat-checkbox size='lg'>Large</goat-checkbox>
  <goat-checkbox>Medium</goat-checkbox>
</HighlighterCard>
