---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Here are several predefined checkbox styles, each serving its own semantic purpose.</p>

<DemoComponentCard lang={'html'}>
  <pc-checkbox>Male</pc-checkbox>
  <pc-checkbox value='true'>Want ice cream?</pc-checkbox>
  <pc-checkbox rounded>Join the group?</pc-checkbox>
</DemoComponentCard>
