---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Checkboxes allow users to select one or more items from a set. Built with Material Design 3 specifications for smooth animations and clear visual states.</p>

<DemoComponentCard lang={'html'}>
  <wc-checkbox>Male</wc-checkbox>
  <wc-checkbox value='true'>Want ice cream?</wc-checkbox>
  <wc-checkbox rounded>Join the group?</wc-checkbox>
</DemoComponentCard>
