---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Checkboxes allow users to select one or more items from a set. Built with Material Design 3 specifications for smooth animations and clear visual states.</p>

<DemoComponentCard lang={'html'}>
  <base-checkbox>Male</base-checkbox>
  <base-checkbox value='true'>Want ice cream?</base-checkbox>
  <base-checkbox rounded>Join the group?</base-checkbox>
</DemoComponentCard>
