@import "../../../globalStyles/commons";
@import "../pie/pie";

:host {
  display: inline-block;
}




.title {
  font-size:v(--heading-03-font-size);
  font-weight: 600;
  line-height:v(--heading-03-line-height);
  letter-spacing: v(--heading-03-letter-spacing);
  fill: var(--text-primary);
}

.label {
  font-size: v(--heading-02-font-size);
  line-height: v(--heading-02-line-height);
  letter-spacing: v(--heading-02-letter-spacing);
  fill: var(--text-primary);
}

.item-polyline {
  fill: none;
  stroke-width: 1;
  stroke: var(--text-primary);
}


.item-label {
  fill: var(--color-on-surface);
  @include get-typography('label-medium')
}
