---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---

<pc-text type='body'>Here are predefined variants of link, each serving its own semantic purpose.</pc-text>

<HighlighterCard lang={'html'}>
  <a class='p-link p-text-body' href='https://github.com/goatui/components' target='_blank'>
    Github
    <p-icon name='arrow_right_alt'></p-icon>
  </a>
  <br />
  <p>
    Some sentence
    <a class='p-link inline' href='#'>Inline link</a>
    in-between
  </p>
</HighlighterCard>
