---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---

<p class='text-body-large'>Here are predefined variants of link, each serving its own semantic purpose.</p>

<HighlighterCard lang={'html'}>
  <a class='link text-body' href='https://github.com/goatui/components' target='_blank'>
    Github
    <p-icon name='arrow_right_alt'></p-icon>
  </a>
  <br />
  <p>
    Some sentence
    <a class='link inline' href='#'>Inline link</a>
    in-between
  </p>
</HighlighterCard>
