@import "../../globalStyles/commons";

:host {
  display: inline-block;
  --tag-background-color: var(--color-surface-container-low);
  --tag-hover-color: var(--color-primary-70);
  --tag-color: var(--color-on-surface);
}

:host-context([data-theme="dark"]) {
  --tag-hover-color: var(--color-primary-30);
}

.tag {
  position: relative;



  .tag-background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--global-shape-corner-small);
    background: var(--tag-background-color);
    pointer-events: none;
    z-index: -1;
  }

  .elevation {
    --elevation-level: 1;
    transition-duration: 280ms;
    border-radius: var(--global-shape-corner-small);
  }


  .tag-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    display: flex;
    align-items: center;
    color: var(--tag-color);
    @include get-typography(label-small);
    z-index: var(--z-index-button);
    gap: .5rem;

    height: 2rem;
    justify-content: center;
    padding-inline: var(--spacing-200);

    .tag-image {
      width: 1.125rem;
      height: 1.125rem;
      border-radius: 100%;
      background: var(--tag-hover-color);
    }

  }

  &.dismissible .tag-content {
    padding-inline-end: .25rem;
  }

  &.selected {
    color: var(--background);
    background: var(--tag-hover-color);

    .close-btn-icon {
      color: var(--background);
    }
  }
}


.close-btn {
  border-radius: 12px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  line-height: 0;
  cursor: pointer;
  --icon-size: 1rem;

  &:hover {
    background: var(--tag-hover-color);

    .close-btn-icon {
      color: var(--background);
    }
  }
}
