@use '../../scss/mixin';

@include mixin.base-styles;

:host {
  display: block;
}

slot::slotted(:not(:last-child)) {
  border-block-start: 1px solid var(--color-outline);
}

slot::slotted(:last-child) {
  border-block-start: 1px solid var(--color-outline);
  border-block-end: 1px solid var(--color-outline);
}
