---
import Highlighter from '../../../../components/Highlighter.astro';
import MenuItems from './dropdown-menu.astro';
---
<pc-text type='body'>
  The dropdown can be positioned relative to the trigger element. Possible positions are: <code class='language-html'>top-start</code>,
  <code class='language-html'>top-end</code>,
  <code class='language-html'>bottom-end</code>, <code class='language-html'>bottom-start</code>.
</pc-text>
<pc-text type='body'>
  You can also use the <code class='language-html'>positions</code> attribute to set all preferred position of the
  dropdown. On scroll, the dropdown will be repositioned to the
  closest position.
</pc-text>

<goat-card>
  <pc-card-content>
    <div class='component-container'>
      <pc-dropdown id='dropdown' item-variant='icon' placements='bottom-start,top-start'>
        <pc-button variant='outlined'><pc-icon slot='icon' name='home'><pc-icon></pc-icon>Open</pc-button>

        <MenuItems/>
      </pc-dropdown>

      <pc-dropdown id='dropdown' item-variant='icon' placements='top-end,bottom-end'>
        <pc-button icon='trash-can' color='danger' aria-label='Trash Can'></pc-button>

        <MenuItems/>
      </pc-dropdown>
    </div>
  </pc-card-content>
  <pc-card-content class='no-padding'>
    <Highlighter lang='html'>
      <pc-dropdown id='dropdown' item-variant='icon' placements='top-start,bottom-start'>
        <pc-button icon='home' variant='outline'>Open</pc-button>
        <pc-dropdown-menu>...</pc-dropdown-menu>
      </pc-dropdown>

      <pc-dropdown id='dropdown' item-variant='icon' placements='top-end,bottom-end'>
        <pc-button icon='trash-can' color='danger' aria-label='Trash Can'></pc-button>
        <pc-dropdown-menu>...</pc-dropdown-menu>
      </pc-dropdown>

    </Highlighter>
  </pc-card-content>
</goat-card>
