:host {
  display: inline-block;
  vertical-align: middle;
  --icon-size: inherit;
  --icon-color: inherit;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  height: var(--icon-size, 1rem);
  width: var(--icon-size, 1rem);

  svg {
    fill: var(--icon-color);
    height: 100%;
    width: 100%;
  }
}
