---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller tag? Add size attribute for additional sizes.</p>

<DemoComponentCard lang={'html'}>
  <p-tag size='sm'><p-icon name='home' slot='icon'></p-icon> Small</p-tag>
  <p-tag><p-icon name='home' slot='icon'></p-icon> Medium</p-tag>
</DemoComponentCard>
