---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller tag? Add size attribute for additional sizes.</p>

<DemoComponentCard lang={'html'}>
  <base-tag variant='filled' color='blue'><base-icon name='home' slot='icon'></base-icon> Filled</base-tag>
  <base-tag variant='tonal' color='blue'><base-icon name='home' slot='icon'></base-icon> Tonal</base-tag>
  <base-tag variant='elevated' color='blue'><base-icon name='home' slot='icon'></base-icon> Elevated</base-tag>
  <base-tag variant='outlined' color='blue'><base-icon name='home' slot='icon'></base-icon> Outlined</base-tag>
</DemoComponentCard>
