@import "../mixins";

.pc-link {
  border-radius: inherit;
  corner-shape: inherit;

  color: var(--color-primary);
  --icon-color: var(--color-primary);

  &:hover {
    color: var(--color-primary-container);
  }

  &:focus {
    text-decoration: none;
    @include focus-ring();
  }
}

.pc-link.no-style {
  color: var(--color-on-surface);
  --icon-color: var(--color-on-surface);
  text-decoration: none !important;
}

.pc-link.no-decoration {
  text-decoration: none !important;
}

.pc-link.inline {
  text-decoration: var(--link-decoration, underline);
}
