---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<p class='text-body-large'>Fancy larger or smaller split buttons? Add the size attribute for additional sizes.</p>

<DemoComponentCard lang={'html'} inline>
  <wc-split-button size='xs'>
    Extra small
    <wc-menu-item slot="menu">Option</wc-menu-item>
  </wc-split-button>

  <wc-split-button size='sm'>
    Small
    <wc-menu-item slot="menu">Option</wc-menu-item>
  </wc-split-button>

  <wc-split-button size='md'>
    Medium
    <wc-menu-item slot="menu">Option</wc-menu-item>
  </wc-split-button>

  <wc-split-button size='lg'>
    Large
    <wc-menu-item slot="menu">Option</wc-menu-item>
  </wc-split-button>

  <wc-split-button size='xl'>
    Extra large
    <wc-menu-item slot="menu">Option</wc-menu-item>
  </wc-split-button>
</DemoComponentCard>
