@import "../../globalStyles/commons";

:host {
  display: inline-block;
  --badge-color: var(--global-badge-color);
}

.badge {
  pointer-events: none;
  z-index: var(--z-index-badge);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--badge-color);
  border-radius: var(--global-shape-corner-full);



  &.has-content {
    height: 1rem;
    min-width: 1rem;
    padding-inline: var(--spacing-050);
    @include get-typography(label-small);
    color: var(--color-on-error);
  }

  &:not(.has-content) {
    height: 6px;
    width: 6px;
  }
}
