@use '../../scss/mixin';

@include mixin.base-styles;

:host {
  display: block;

  --divider-color: var(--color-outline-variant);
  --divider-spacing: var(--spacing-200);
  --divider-line-thickness: 1px;
}

.divider {
  display: flex;
  margin: 0;
  @include mixin.get-typography(body-medium);
  color: var(--divider-color);

  --_line-border: var(--divider-line-thickness) solid var(--divider-color);

  &:not(.vertical) {
    width: 100%;
    padding: var(--divider-spacing) 0;
    align-items: center;
    justify-content: center;

    .line {
      width: 100%;
      border-top: var(--_line-border);
    }

    &.slot-has-content .slot-container {
      padding: 0 var(--spacing-200);
    }
  }

  &.vertical {
    height: 100%;
    padding: 0 var(--divider-spacing);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .line {
      height: 100%;
      border-right: var(--_line-border);
    }

    &.slot-has-content .slot-container {
      padding: var(--spacing-200) 0;
    }
  }
}

:host(:not([vertical])) {
  width: auto;
}

:host([vertical]) {
  height: auto;
}
