---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller spinners? Add size attribute for additional sizes.</p>

<DemoComponentCard lang={'html'}>
  <p-circular-progress style='--progress-height: 10rem' indeterminate></p-circular-progress>
  <p-circular-progress style='--progress-height: 5rem; --progress-line-thickness: 20px' indeterminate></p-circular-progress>
</DemoComponentCard>
