---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang={"html"}>
  <div class="component-container">
    <goat-badge content="1" color='warning'>
      <pc-icon name="notification"></pc-icon>
    </goat-badge>

    <goat-badge content="30" color="error">
      <pc-icon name="notification"></pc-icon>
    </goat-badge>

    <goat-badge content="" color="error">
      <pc-icon name="notification"></pc-icon>
    </goat-badge>
  </div>

  <div class="component-container">
    <goat-badge content="2" color="success">
      <pc-button icon="home"></pc-button>
    </goat-badge>

    <goat-badge content="" color="error">
      <pc-button icon="home"></pc-button>
    </goat-badge>
  </div>
</HighlighterCard>
