---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<p class='text-body-large'>Dropdown buttons come in different colors to convey context or match your design system.</p>

<DemoComponentCard lang={'html'} inline>
  <wc-dropdown-button color='primary'>
    Primary
    <wc-menu-item slot="menu">Option</wc-menu-item>
  </wc-dropdown-button>

  <wc-dropdown-button color='secondary'>
    Secondary
    <wc-menu-item slot="menu">Option</wc-menu-item>
  </wc-dropdown-button>

  <wc-dropdown-button color='tertiary'>
    Tertiary
    <wc-menu-item slot="menu">Option</wc-menu-item>
  </wc-dropdown-button>

  <wc-dropdown-button color='success'>
    Success
    <wc-menu-item slot="menu">Option</wc-menu-item>
  </wc-dropdown-button>

  <wc-dropdown-button color='danger'>
    Danger
    <wc-menu-item slot="menu">Option</wc-menu-item>
  </wc-dropdown-button>

  <wc-dropdown-button color='surface'>
    Surface
    <wc-menu-item slot="menu">Option</wc-menu-item>
  </wc-dropdown-button>
</DemoComponentCard>
