@import "../../../globalStyles/commons";

:host {
  display: inline-block;
  transform: scale(0);
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;

  z-index: var(--z-index-popover);

  /**
   * @prop --popover-content-background: Background color of the popover content
   */
  --popover-content-background: var(--color-surface-container);

  /**
   * @prop --popover-padding: Padding of the popover content
   */
  --popover-content-padding: var(--spacing-200);

  /**
   * @prop --popover-content-border-radius: Border radius of the popover content
   */
  --popover-content-border-radius: var(--global-shape-corner-small);

  /**
    * @prop --pc-menu-shadow: Shadow of popover content
   */
  --popover-content-shadow: none;

  --popover-content-caret-size: 0.75rem;
}

:host-context(pc-popover[open]) {
  pointer-events: auto;
  transition: transform var(--duration-short2) var(--easing-standard) 0s;
  transform: scale(1);
}

:host-context(pc-popover[tip="caret"]) {
  .arrow {
    transform: rotate(45deg) scale(1);
  }
}

.popover-content {
  position: relative;
  background: var(--popover-content-background);
  padding: var(--popover-content-padding);
  border-radius: var(--popover-content-border-radius);
  filter: var(--popover-content-shadow, none);

  .arrow {
    width: var(--popover-content-caret-size);
    height: var(--popover-content-caret-size);
    background: var(--popover-content-background);
    transform: rotate(45deg) scale(0);
    position: absolute;
    z-index: -1;
  }

}

