---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';

import dataSource from '../_data-source.json';
---

<style is:inline>
  .table-demo {
    width: 90%;
  }
</style>

<DemoComponentCard lang='html'>

  <div class="table-demo">

    <wc-table id='table' key-field='_id' selection-type='checkbox' sortable></wc-table>

    <pc-card-content>
      <div class='result'>
        <p class=text-title>Cell Click Result :</p>
        <div>
          <b>Cell Data :</b>
          <pre id='record'></pre>
        </div>
        <div><b>Column :</b> <span id='column'></span></div>
        <br>
        <div><b>Selected Rows :</b> <span id='selected-rows'></span></div>
        <br>
        <div>Check console for full event detail.</div>
      </div>
  </pc-card-content>

   </div>

    <script is:inline define:vars={{ dataSource }}>
      const $table = document.getElementById('table');
      // Columns
      $table.columns = [
        {
          'name': 'name',
          'label': 'Name',
          'width': 16,
          'fixed': true,
        },
        {
          'name': 'age',
          'label': 'Age',
          'width': 7,
        },
        {
          'name': 'eyeColor',
          'label': 'Eye Color',
          'template': function(row, column) {
            return `<pc-tag style='padding: 10px; max-width: 100%;' color='${row[column.name]}'>${row[column.name]}</pc-tag>`;
          },
        },
        {
          'name': 'company',
          'label': 'Company',
        },
        {
          'name': 'email',
          'label': 'Email',
          'width': 25,
        },
        {
          'name': 'address',
          'label': 'Address',
          'width': 20,
        },
        {
          'name': 'actions',
          'label': 'Actions',
          'template': function(row, column) {
            return `<pc-dropdown id='dropdown'>
      <wc-icon-button color='secondary' variant='outlined' name='more_vert'></wc-icon-button>
      <pc-menu slot='dropdown-content' class='menu' style='width: 200px'>
        <pc-menu-item value='cut'>
          <wc-icon name='scissors' slot='start'></wc-icon>
          Cut
          <span slot='end'>⌘X</span>
        </pc-menu-item>
        <pc-menu-item value='copy'>
          <wc-icon name='files' slot='start'></wc-icon>
          Copy
          <span slot='end'>⌘C</span>
        </pc-menu-item>
        <pc-menu-item value='paste'>
          <wc-icon name='clipboard' slot='start'></wc-icon>
          Paste
          <span slot='end'>⌘X</span>
        </pc-menu-item>
        <pc-divider></pc-divider>
        <pc-menu-item value='delete'>
          <wc-icon name='trash' slot='start'></wc-icon>
          Delete
          <span slot='end'>←</span>
        </pc-menu-item>
      </pc-menu>
    </pc-dropdown>`;
          },
        },
      ];
      // Data
      $table.data = dataSource;

      // Events
      $table.addEventListener('cell-click', function(evt) {
        document.getElementById('record').innerText = JSON.stringify(evt.detail.record, null, 3);
        document.getElementById('column').innerText = evt.detail.column.label;
      });
      $table.addEventListener('selection-change', function(evt) {
        document.getElementById('selected-rows').innerText = JSON.stringify(evt.detail.value, null, 4);
      });
    </script>
  </DemoComponentCard>

<goat-card>
 
</goat-card>
