---
import SideNavigation from '../components/navigation/SideNavigation.astro';
import MobileNavigation from '../components/navigation/MobileNavigation.astro';

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
}
import '../styles/layout/default.scss';

const {
  title,
  description,
  keywords
} = Astro.props;

import Layout from './Base.astro';


---

<Layout title={title} description={description} keywords={keywords}>

  <div class="default-layout">

    <!-- For desktop and tablet -->
    <div class='side-navigation-container'>
      <SideNavigation/>
    </div>


    <div class="page-context-wrapper">

       <!-- For mobile -->
      <MobileNavigation />

      <slot />
    </div>
  </div>

  <wc-notification-manager position='bottom-right'></wc-notification-manager>
  <pagefind-modal></pagefind-modal>


  <!-- Scripts -->
  <script src="/assets/js/main.js" is:inline></script>

</Layout>
