---
import Layout from './Base.astro';
import SideNavigation from '../components/navigation/SideNavigation.astro';
import MobileNavigation from '../components/navigation/MobileNavigation.astro';
import PagefindModal from '../components/navigation/PagefindModal.astro';
import '../styles/layout/default.scss';

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
}


const {
  title,
  description,
  keywords
} = Astro.props;
---

<Layout title={title} description={description} keywords={keywords}>

  <div class="default-layout">

    <!-- For desktop and tablet -->
    <div class='side-navigation-container'>
      <SideNavigation/>
    </div>


    <div class="default-layout-content">

       <!-- For mobile -->
      <MobileNavigation />

      <slot />
    </div>
  </div>

  <wc-notification-manager position='bottom-right' class="page-notification-manager"></wc-notification-manager>

  <PagefindModal />


  <!-- Scripts -->
  <script src="/assets/js/main.js" is:inline></script>

</Layout>
