@use "sass:map";
@import "functions";

@mixin font-style($type, $var: null) {
  @if $var != null {
    font-family: var(--#{$var}-font-family, v(--#{$type}-font-family));
    font-size:  var(--#{$var}-font-size, v(--#{$type}-font-size));
    font-weight: var(--#{$var}-font-weight, v(--#{$type}-font-weight));
    line-height: var(--#{$var}-line-height, v(--#{$type}-line-height));
    letter-spacing: var(--#{$var}-letter-spacing, v(--#{$type}-letter-spacing));
  } @else {
    font-family: v(--#{$type}-font-family);
    font-size: v(--#{$type}-font-size);
    font-weight: v(--#{$type}-font-weight);
    line-height: v(--#{$type}-line-height);
    letter-spacing: v(--#{$type}-letter-spacing);
  }
}

@mixin get-typography($name) {
  font-family: var(--typography-#{$name}-font-family) !important;
  font-size:  var(--typography-#{$name}-font-size) !important;
  font-weight: var(--typography-#{$name}-font-weight) !important;
  line-height: var(--typography-#{$name}-line-height) !important;
  letter-spacing: var(--typography-#{$name}-letter-spacing) !important;
}

@mixin get-typography-not-important($name) {
  font-family: var(--typography-#{$name}-font-family);
  font-size:  var(--typography-#{$name}-font-size);
  font-weight: var(--typography-#{$name}-font-weight);
  line-height: var(--typography-#{$name}-line-height);
  letter-spacing: var(--typography-#{$name}-letter-spacing);
}

@mixin focus-ring($color:var(--border-interactive)) {
  outline: 2px solid $color;
}

@mixin for-phone-only {
  @media (max-width: 671px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 672px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 1056px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1312px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1584px) {
    @content;
  }
}
