---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<p class='p-text-body-large'>Body styles are used for longer passages of text in your app.</p>
<p class='p-text-body-large'>Use typefaces intended for body styles, which are readable at smaller sizes and can be comfortably read in longer passages.</p>
<p class='p-text-body-large'>Avoid expressive or decorative fonts for body text because these can be harder to read at small sizes.</p>


<DemoComponentCard lang={'html'} alignStart={true}>
  <p class='p-text-body-large'>
    Body Large
  </p>

  <p class='p-text-body'>
    Body Long
  </p>

  <p class='p-text-body-small'>
    Body Small
  </p>
</DemoComponentCard>
