---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang={'html'}>
  <pc-text type='text'>Primary</pc-text>
  <pc-text type='text' color='secondary'>Secondary</pc-text>
  <pc-text type='text' color='tertiary'>Tertiary / Helper</pc-text>
  <pc-text type='text' color='error'>Error</pc-text>
  <pc-text type='text' color='inverse'>Inverse</pc-text>

  <style is:inline>
    .custom {
      --text-color: var(--color-green-50);
    }
  </style>

  <div class='custom'>
    <pc-text type='text'>Primary</pc-text>
  </div>

  <div style='color: brown'>
    <pc-text type='text' class='inherit'>Primary</pc-text>
  </div>
</HighlighterCard>
