---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---

<p class='p-text-body-large'>
  Titles are smaller than headline styles, and should be used for medium-emphasis text that remains relatively short. For example, consider using title styles to divide secondary passages of text or secondary regions of content.
</p>
<p class='p-text-body-large'>
  For titles, use caution when using expressive fonts, including display, handwritten, and script styles.
</p>

<HighlighterCard lang={'html'}>
  <h3 class='p-text-title-large'>
    Title large
  </h3>
  <h3 class='p-text-title'>
    Title
  </h3>
  <h3 class='p-text-title-small'>
    Title small
  </h3>
</HighlighterCard>
