---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---

<p class='pc-text-body-large'>
  Titles are smaller than headline styles, and should be used for medium-emphasis text that remains relatively short. For example, consider using title styles to divide secondary passages of text or secondary regions of content.
</pc-text>

<HighlighterCard lang={'html'}>
  <h3 class='pc-text-title-large'>
    This is for component and layout headings.
  </h3>
  <h3 class='pc-text-title'>
    This is for component and layout headings.
  </h3>
  <h3 class='pc-text-title-small'>
    This is for component and layout headings.
  </h3>
</HighlighterCard>
