---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>
  The utility styles are used with productive and expressive moments and include styles for code snippets, labels for
  captions and helper text, as well as legal copy.
</p>

<DemoComponentCard lang={'html'} alignStart={true}>

  <p class='text-code-large'>
    This is for inline code snippets and smaller code elements.
  </p>
  <p class='text-code'>
    This is for inline code snippets and smaller code elements.
  </p>
  <p class='text-code-small'>
    This is for inline code snippets and smaller code elements.
  </p>

  <br />

  <p class='text-label-large'>
    label large
  </p>

  <p class='text-label'>
    label
  </p>

  <p class='text-label-small'>
    label small
  </p>

</DemoComponentCard>
