---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Add the <code>multi</code> attribute to allow any number of panels to be open simultaneously.</p>

<DemoComponentCard lang={"html"}>
  <wc-accordion multi>
    <wc-accordion-item>
      <span slot="heading">Panel A</span>
      <p class='text-body-large'>
        Content for panel A. With <code>multi</code>, expanding this panel does not collapse Panel B.
      </p>
    </wc-accordion-item>
    <wc-accordion-item open="true">
      <span slot="heading">Panel B</span>
      <p class='text-body-large'>
        This panel is open by default and stays open when other panels expand.
      </p>
    </wc-accordion-item>
    <wc-accordion-item disabled>
      <span slot="heading">Panel C (disabled)</span>
      <p class='text-body-large'>
        This panel cannot be interacted with.
      </p>
    </wc-accordion-item>
  </wc-accordion>
</DemoComponentCard>
