---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<p>A user can independently expand each section of the accordion allowing for multiple sections to be open at once.</p>

<HighlighterCard lang={"html"}>
  <pc-accordion multiple>
    <pc-accordion-item heading="Title 1" disabled="false">
      <p>
        The accordion component delivers large amounts of content in a small space through progressive disclosure.
        The user gets key details about the underlying content and can choose to expand that content within the
        constraints of the accordion.
        Accordions work especially well on mobile interfaces or whenever vertical space is at a premium.
      </p>
    </pc-accordion-item>
    <pc-accordion-item heading="Title 2" disabled="false">
      <pc-text>
        The accordion component delivers large amounts of content in a small space through progressive disclosure.
        The user gets key details about the underlying content and can choose to expand that content within the
        constraints of the accordion.
        Accordions work especially well on mobile interfaces or whenever vertical space is at a premium.
      </pc-text>
    </pc-accordion-item>
    <pc-accordion-item heading="Title Disabled" disabled="true">
      <pc-text>
        The accordion component delivers large amounts of content in a small space through progressive disclosure.
        The user gets key details about the underlying content and can choose to expand that content within the
        constraints of the accordion.
        Accordions work especially well on mobile interfaces or whenever vertical space is at a premium.
      </pc-text>
    </pc-accordion-item>
  </pc-accordion>
</HighlighterCard>
