---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller input? Add size attribute for additional sizes.</p>

<HighlighterCard lang={'html'}>
  <goat-time-picker size='lg'></goat-time-picker>
  <goat-time-picker size='md'></goat-time-picker>
  <goat-time-picker size='sm'></goat-time-picker>
</HighlighterCard>
