---
export const title = 'Usage';
export const order = 100;
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p>Here are different types of inputs.</p>

<DemoComponentCard lang={'html'}>
  <wc-time-picker label='Time' helper-text='Optional helper text'></wc-time-picker>
</DemoComponentCard>
