---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Here are different types of inputs.</p>

<DemoComponentCard lang={'html'}>
  <wc-time-picker label='Time' helper-text='Optional helper text'></wc-time-picker>
</DemoComponentCard>
