<!doctype html>
<html lang='en-GB'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, viewport-fit=cover' />
  <link rel='stylesheet' href='/dist/assets/styles/tokens.css' />
  <style>
    body {
      background: #fafafa;
    }
  </style>

</head>
<body>

<a href='/src/icon/demo/index.html'>icon</a>

<p-icon provider='carbon' name='logo--github'></p-icon>

<br/>

<a href='/src/avatar/demo/index.html'>avatar</a>
<p-avatar name='Test'></p-avatar>



<script type='module' src='/dist/src/peacock-loader.js'></script>
</body>
</html>
