---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<p class='text-body-large'>Use the <code>size</code> attribute to control the height of the search bar.</p>

<DemoComponentCard lang={'html'}>
  <wc-search size='sm' placeholder='Small' style='width: 20rem;'></wc-search>
  <wc-search size='md' placeholder='Medium (default)' style='width: 20rem;'></wc-search>
  <wc-search size='lg' placeholder='Large' style='width: 20rem;'></wc-search>
</DemoComponentCard>
