---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<p class='text-body-large'>A search bar with a leading search icon, an input field, and an optional clear button.</p>

<DemoComponentCard lang={'html'}>
  <wc-search placeholder='Search...' style='width: 24rem;'></wc-search>
</DemoComponentCard>

<p class='text-body-large'>Use the <code>leading</code> slot to customise the leading icon, and the <code>trailing</code> slot for additional actions such as a voice or avatar button.</p>

<DemoComponentCard lang={'html'}>
  <wc-search placeholder='Search contacts...' style='width: 24rem;'>
    <wc-icon slot='leading' name='person_search'></wc-icon>
    <wc-icon-button slot='trailing' name='mic'></wc-icon-button>
  </wc-search>
</DemoComponentCard>
