@use '../../../scss/mixin';

@include mixin.base-styles;


:host {
  display: inline-flex;
  --z-index-button: 0;


  --button-height: unset;
  --button-icon-size: unset;
  --button-container-shape: unset;
  --button-container-shape-start-start: unset;
  --button-container-shape-start-end: unset;
  --button-container-shape-end-start: unset;
  --button-container-shape-end-end: unset;
}

/**
  * Private CSS Variables
  * These variables are used internally within the button component
  */
slot::slotted(*) {
  --icon-size: var(--button-icon-size, var(--_button-icon-size));
  --icon-color: var(--_label-text-color);
}

/*
  * Reset native button/link styles
  */
.button.button-element {
  background: transparent;
  border: none;
  appearance: none;
  margin: 0;
  outline: none;
  text-decoration: none;
}

.button {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--button-height, var(--_button-height));
  padding: 0 var(--_container-padding);
  width: 100%;
  font-family: var(--font-family-sans) !important;
  cursor: pointer;

  --_container-shape-start-start: var(--button-container-shape-start-start, var(--button-container-shape, var(--shape-corner-small)));
  --_container-shape-start-end: var(--button-container-shape-start-end, var(--button-container-shape, var(--shape-corner-small)));
  --_container-shape-end-start: var(--button-container-shape-end-start, var(--button-container-shape, var(--shape-corner-small)));
  --_container-shape-end-end: var(--button-container-shape-end-end, var(--button-container-shape, var(--shape-corner-small)));


  .button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--_button-icon-label-spacing);
    width: 100%;
    z-index: 1;

    color: var(--_label-text-color);
    opacity: var(--_label-text-opacity, 1);
    --icon-color: var(--_label-text-color);

    .slot-container {
      display: none;
    }

  }

  &.disabled {
    cursor: not-allowed;
  }

  /*
    Background layers
   */
  .focus-ring {
    --focus-ring-shape-start-start: var(--_container-shape-start-start);
    --focus-ring-shape-start-end: var(--_container-shape-start-end);
    --focus-ring-shape-end-start: var(--_container-shape-end-start);
    --focus-ring-shape-end-end: var(--_container-shape-end-end);
  }

  .ripple {
    border-start-start-radius: var(--_container-shape-start-start);
    border-start-end-radius: var(--_container-shape-start-end);
    border-end-start-radius: var(--_container-shape-end-start);
    border-end-end-radius: var(--_container-shape-end-end);
  }

  .background {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--_container-color);
    opacity: var(--_container-opacity, 1);

    border-start-start-radius: var(--_container-shape-start-start);
    border-start-end-radius: var(--_container-shape-start-end);
    border-end-start-radius: var(--_container-shape-end-start);
    border-end-end-radius: var(--_container-shape-end-end);
    pointer-events: none;
  }

  .skeleton {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    --skeleton-shape-start-start: var(--_container-shape-start-start);
    --skeleton-shape-start-end: var(--_container-shape-start-end);
    --skeleton-shape-end-start: var(--_container-shape-end-start);
    --skeleton-shape-end-end: var(--_container-shape-end-end);
  }

  .ripple {
    --ripple-state-opacity: var(--_container-state-opacity, 0);
    --ripple-pressed-color: var(--_container-state-color);
  }

  .elevation {
    --elevation-level: var(--_container-elevation-level);
    transition-duration: 280ms;
    border-start-start-radius: var(--_container-shape-start-start);
    border-start-end-radius: var(--_container-shape-start-end);
    border-end-start-radius: var(--_container-shape-end-start);
    border-end-end-radius: var(--_container-shape-end-end);
  }

  .neo-background {
    display: none;
    position: absolute;
    background: var(--color-inverse-surface);
    border-start-start-radius: var(--_container-shape-start-start);
    border-start-end-radius: var(--_container-shape-start-end);
    border-end-start-radius: var(--_container-shape-end-start);
    border-end-end-radius: var(--_container-shape-end-end);
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform: translateX(0.25rem) translateY(0.25rem);

    &:before {
      z-index: 0;
      content: "";
      position: absolute;
      pointer-events: none;
      border-start-start-radius: var(--_container-shape-start-start);
      border-start-end-radius: var(--_container-shape-start-end);
      border-end-start-radius: var(--_container-shape-end-start);
      border-end-end-radius: var(--_container-shape-end-end);
      width: 100%;
      height: 100%;
      background: white;
      left: 0;
      transform: translateX(-0.25rem) translateY(-0.25rem);
    }
  }

  .outline {
    z-index: 0;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border: var(--_outline-width) solid var(--_outline-color);
    opacity: var(--_outline-opacity, 1);
    border-start-start-radius: var(--_container-shape-start-start);
    border-start-end-radius: var(--_container-shape-start-end);
    border-end-start-radius: var(--_container-shape-end-start);
    border-end-end-radius: var(--_container-shape-end-end);
  }


  &.has-content {
    .slot-container {
      display: flex;
      flex: none;
      justify-content: center;
    }
  }

  &.show-skeleton {
    .background {
      display: none;
    }
    .neo-background {
      display: none;
      &:before {
        display: none;
      }
    }
    .ripple {
      display: none;
    }
    .skeleton {
      display: block;
    }
  }

}

/**
 * Button variant definitions
 */

.button.variant-elevated {
  --_container-color: var(--elevated-button-container-color);
  --_label-text-color: var(--elevated-button-label-text-color);
  --_container-elevation-level: 1;

  --_container-state-color: var(--_label-text-color);

  &:hover:not(:where(.disabled, .soft-disabled, .show-skeleton)) {
    --_container-elevation-level: 2;
    --_container-state-opacity: 0.08;
  }

  &.pressed:not(:where(.disabled, .soft-disabled, .show-skeleton)) {
    --_container-elevation-level: 1;
    --_container-state-opacity: 0.12;
  }

  &.disabled {
    --_container-color: var(--color-on-surface);
    --_container-opacity: 0.1;
    --_label-text-color: var(--color-on-surface);
    --_label-text-opacity: 0.38;

    .ripple {
      display: none;
    }
  }
}


.button.variant-filled {
  --_container-color: var(--filled-button-container-color);
  --_label-text-color: var(--filled-button-label-text-color);
  --_container-state-color: var(--_label-text-color);


  &:hover:not(:where(.disabled, .soft-disabled, .show-skeleton)) {
    --_container-elevation-level: 1;
    --_container-state-opacity: 0.08;
  }

  &.pressed:not(:where(.disabled, .soft-disabled, .show-skeleton)) {
    --_container-elevation-level: 0;
    --_container-state-opacity: 0.1;
  }

  &.disabled {
    --_container-color: var(--color-on-surface);
    --_container-opacity: 0.1;
    --_label-text-color: var(--color-on-surface);
    --_label-text-opacity: 0.38;

    .ripple {
      display: none;
    }
  }
}


.button.variant-tonal {
  --_container-color: var(--tonal-button-container-color);
  --_label-text-color: var(--tonal-button-label-text-color);

  --_container-state-color: var(--_label-text-color);

  &:hover:not(:where(.disabled, .soft-disabled, .show-skeleton)) {
    --_container-elevation-level: 1;
    --_container-state-opacity: 0.08;
  }

  &.pressed:not(:where(.disabled, .soft-disabled, .show-skeleton)) {
    --_container-elevation-level: 0;
    --_container-state-opacity: 0.12;
  }

  &.disabled {
    --_container-color: var(--color-on-surface);
    --_container-opacity: 0.1;
    --_label-text-color: var(--color-on-surface);
    --_label-text-opacity: 0.38;

    .ripple {
      display: none;
    }
  }
}


.button.variant-outlined {
  --_outline-width: var(--outlined-button-outline-width, 0.0675rem);
  --_outline-color: var(--outlined-button-outline-color);
  --_label-text-color: var(--outlined-button-label-text-color);

  --_container-state-color: var(--_label-text-color);

  .outline {
    display: block;
  }

  &:hover:not(:where(.disabled, .soft-disabled, .show-skeleton)) {
    --_container-state-opacity: 0.08;
  }

  &.pressed:not(:where(.disabled, .soft-disabled, .show-skeleton)) {
    --_container-state-opacity: 0.12;
  }

  &.disabled {
    --_outline-color: var(--color-on-surface);
    --_label-text-color: var(--color-on-surface);
    --_label-text-opacity: 0.38;
    --_outline-opacity: 0.12;

    .ripple {
      display: none;
    }
  }
}


.button.variant-text {

  --_label-text-color: var(--text-button-label-text-color);
  --_container-state-color: var(--_label-text-color);

  &:hover:not(:where(.disabled, .soft-disabled, .show-skeleton)) {
    --_container-state-opacity: 0.08;
  }

  &.pressed:not(:where(.disabled, .soft-disabled, .show-skeleton)) {
    --_container-state-opacity: 0.12;
  }

  &.disabled {
    --_label-text-color: var(--color-on-surface);
    --_label-text-opacity: 0.38;

    .ripple {
      display: none;
    }
  }
}

.button.variant-neo {

  --_container-color: var(--neo-button-container-color);
  --_label-text-color: var(--neo-button-label-text-color);

  --_outline-width: var(--outlined-button-outline-width, 0.125rem);
  --_outline-color: var(--color-inverse-surface);

  .outline {
    display: block;
  }

  .neo-background {
    display: block;
  }

  .ripple {
    display: none;
  }

  &.pressed:not(:where(.disabled, .soft-disabled, .show-skeleton)) {
    .background, .button-content, .outline {
      transform: translateX(0.25rem) translateY(0.25rem);
    }
    .neo-background:before {
      transform: translateX(0) translateY(0);
    }
  }

  &.disabled {
    --_container-color: var(--color-on-surface);
    --_container-opacity: 0.1;
    --_label-text-color: var(--color-on-surface);
    --_label-text-opacity: 0.38;
    --_outline-opacity: 0.12;


    .ripple {
      display: none;
    }
  }
}

:host([block]) {
  width: 100%;
}
