@use '../../../scss/mixin';


:host([size='xs']),
:host([size='extra-small']) {
  --button-height: 2rem;
}

:host([size='xs']) .button,
:host([size='extra-small']) .button {
  --_button-icon-size: 1rem;
  --_button_container-padding: 0.75rem;

  font-size:  0.875rem !important;
  font-weight: var(--font-weight-medium) !important;
  line-height: 1.25rem !important;
  letter-spacing: 0.1px !important;
}


:host([size='sm']),
:host([size='small']) {
  --button-height: 2.5rem;
}

:host([size='sm']) .button,
:host([size='small']) .button {
  --_button-icon-size: 1.25rem;
  --_button_container-padding: 1rem;
  --_button-icon-label-spacing: 0.5rem;

  font-size:  0.875rem !important;
  font-weight: var(--font-weight-medium) !important;
  line-height: 1.25rem !important;
  letter-spacing: 0.1px !important;
}

:host([size='md']),
:host([size='medium']) {
  --button-height: 3.5rem;
}

:host([size='md']) .button,
:host([size='medium']) .button {
  --_button-icon-size: 1.5rem;
  --_button_container-padding: 1.5rem;

  font-size:  1rem !important;
  font-weight: var(--font-weight-medium) !important;
  line-height: 1.5rem !important;
  letter-spacing: 0.15px !important;
}

:host([size='lg']),
:host([size='large']) {
  --button-height: 6rem;
}

:host([size='lg']) .button,
:host([size='large']) .button {
  --_button-icon-size: 2rem;
  --_button_container-padding: 3rem;

  font-size:  1.5rem !important;
  font-weight: var(--font-weight-regular) !important;
  line-height: 2rem !important;
  letter-spacing: 0 !important;
}

:host([size='xl']),
:host([size='extra-large']) {
  --button-height: 8.5rem;
}

:host([size='xl']) .button,
:host([size='extra-large']) .button {
  --_button-icon-size: 2.5rem;
  --_button_container-padding: 4rem;

  font-size:  2rem !important;
  font-weight: var(--font-weight-regular) !important;
  line-height: 2.5rem !important;
  letter-spacing: 0 !important;
}
