@use './button-layers.scss';
@use './button-base.scss';
@use './button-shapes.scss';
@use './button-colors.scss';
@use './button-sizes.scss';

/* When both icon and label are present, apply the configured spacing */
:host([has-icon][has-label]) .button {
  gap: var(--private-button-icon-label-spacing);
}

:host(:not([trailing-icon])) .button {
  flex-direction: row;
}

:host([trailing-icon]) .button {
  flex-direction: row-reverse;
}
