@use "../../../scss/mixin";
@use "sass:string";

@include mixin.base-styles;

.tooltip {
  pointer-events: none;
  transition: transform var(--duration-short2) ease-in-out, opacity var(--duration-short2) ease-in-out;
  transform: scale(0);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.tooltip.open {
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
}

.variant-plain .tooltip-content {
  display: inline-block;
  @include mixin.get-typography(body-small);
  max-width: 17.5rem;
  padding-inline: var(--spacing-100);
  padding-block: var(--spacing-050);
  color: var(--color-inverse-on-surface);
  background-color: var(--color-inverse-surface);
  border-radius: var(--shape-corner-extra-small);
}

.variant-rich {

  .tooltip-content {
    display: inline-block;
    max-width: 17.5rem;
    padding-block: var(--spacing-150) var(--spacing-100);
    color: var(--color-on-surface-variant);
    background-color: var(--color-surface-container);
    border-radius: var(--shape-corner-medium);
  }

  .elevation {
    --elevation-level: 2;
    --elevation-container-shape: var(--shape-corner-medium);
  }

  .tooltip-title {
    @include mixin.get-typography(title-small);
    margin-block-end: var(--spacing-050);
    padding-inline: var(--spacing-200);
  }

  .tooltip-support-text {
    @include mixin.get-typography(body-medium);
    padding-inline: var(--spacing-200);
  }

  .tooltip-actions {
    margin-top: var(--spacing-150);
    padding-inline: var(--spacing-050);
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
  }
}

