@import "../../../globalStyles/commons";

:host {
  display: block;

  /**
   * @prop --accordion-item-heading-background - Background color of the accordion item header
   */
  --accordion-item-heading-background: transparent;

  /**
   * @prop --accordion-item-heading-background-hover - Background color of the accordion item header on hover
   */
  --accordion-item-heading-background-hover: var(--layer-hover);

  /**
   * @prop --accordion-item-title-align - Alignment of the accordion title
   */
  --accordion-item-title-align: start;
}

.accordion-item {

  .accordion-heading {
    cursor: pointer;
    width: 100%;
    border-radius: 0;
    color: var(--text-primary);
    border: 0;
    padding: 0 v(--spacing-200);
    background: var(--accordion-item-heading-background);

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    @include font-style(body);

    .accordion-title {
      width: 100%;
      text-align: var(--accordion-item-title-align);
    }

    svg {
      flex: 0 0 1rem;
    }

    &:hover {
      background: var(--accordion-item-heading-background-hover);
    }

    &.has-focus {
      @include focus-ring;
    }
  }

  .item-section {
    height: 0;
    opacity: 0;
    pointer-events: none;
    text-align: start;
    transition: all var(--duration-medium2) var(--easing-standard);
    background: var(--accordion-item-heading-background);
  }

  .accordion-icon {
    transition: transform var(--duration-medium2) var(--easing-standard);
  }


  &.open {
    .item-section {
      height: 100%;
      pointer-events: auto;
      opacity: 1;
      padding: var(--spacing-100) var(--spacing-800) var(--spacing-300) var(--spacing-200);
    }

    .accordion-icon {
      transform: rotate(180deg);
    }
  }

  &.disabled {
    .accordion-heading {
      cursor: not-allowed;
      color: var(--text-disabled);
      .accordion-icon {
        color: var(--text-disabled);
      }
    }
  }

}

/*
 * Sizes
 */
.accordion-item {
  .accordion-heading {
    height: 2.5rem;
  }
}

:host-context([size="sm"]) {
  .accordion-item {
    .accordion-heading {
      height: 2rem;
    }
  }
}

:host-context([size="lg"]) {
  .accordion-item {
    .accordion-heading {
      height: 3rem;
    }
  }
}


:host-context(pc-accordion[align="start"]) {
  .accordion-item {
    .accordion-heading {
      flex-direction: row;
    }
  }
}
