---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Enable high contrast mode for stronger separation between text and container colors.</p>

<DemoComponentCard lang={'html'}>
  <div style='display: grid; gap: var(--spacing-100); width: min(100%, 36rem);'>
    <wc-notification high-contrast dismissible>
      <span slot='title'>System message</span>
      <span slot='subtitle'>A restart is required to apply updates.</span>
    </wc-notification>

    <wc-notification high-contrast variant='success'>
      <span slot='title'>Deployment completed</span>
    </wc-notification>

    <wc-notification high-contrast variant='warning'>
      <span slot='title'>Quota reaches 90%</span>
    </wc-notification>

    <wc-notification high-contrast variant='error'>
      <span slot='title'>Unable to sync files</span>
    </wc-notification>
  </div>
</DemoComponentCard>
