---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Use notifications to surface concise status updates and next steps without interrupting the flow.</p>

<DemoComponentCard lang={'html'}>
  <wc-notification dismissible action='View details'>
    <span slot='title'>Backup completed</span>
    <span slot='subtitle'>All files were saved to cloud storage.</span>
  </wc-notification>
</DemoComponentCard>
