---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller input? Add size attribute for additional sizes.</p>

<DemoComponentCard lang={'html'}>

    <p-number size='sm' label='Slots'>
      <wc-icon slot='start' name='currency_rupee'></wc-icon>

      <wc-link slot='end' href='#'>
        <wc-icon name='link' size='sm'></wc-icon>
      </wc-link>
    </p-number>

</DemoComponentCard>
