---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller input? Add size attribute for additional sizes.</p>

<DemoComponentCard lang={'html'}>

    <p-number size='sm' label='Slots'>
      <p-icon slot='start' name='currency_rupee'></p-icon>

      <p-link slot='end' href='#'>
        <p-icon name='link' size='sm'></p-icon>
      </p-link>
    </p-number>

</DemoComponentCard>
