---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller input? Add size attribute for additional sizes.</p>

<DemoComponentCard lang={'html'}>

    <p-number size='sm' label='Slots'>
      <base-icon slot='start' name='currency_rupee'></base-icon>

      <base-link slot='end' href='#'>
        <base-icon name='link' size='sm'></base-icon>
      </base-link>
    </p-number>

</DemoComponentCard>
