---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<pc-text type='body'>Fancy larger or smaller input? Add size attribute for additional sizes.</pc-text>

<HighlighterCard lang={'html'}>

    <goat-number size='sm' label='Slots'>
      <div slot='start'>
        <pc-icon slot='start' name='currency--dollar' size='1rem'></pc-icon>
      </div>
      <goat-link slot='end' href='#'>
        <pc-icon name='launch' size='sm'></pc-icon>
      </goat-link>
    </goat-number>

</HighlighterCard>
