---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Here are different types of inputs.</p>

<DemoComponentCard lang={'html'}>
  <p-number label='Number'></p-number>
</DemoComponentCard>

<DemoComponentCard lang={'html'}>
  <p-number label='Number' stepper></p-number>
</DemoComponentCard>
