@import "../mixins";

.link {
  border-radius: inherit;
  corner-shape: inherit;

  text-decoration: var(--link-decoration, none);

  color: var(--link-color, var(--link-01));

  &:hover {
    color: var(--link-color-hover, var(--hover-primary-text));
    text-decoration: var(--link-decoration-hover, underline);
  }

  &:visited {
    color: var(--link-color-visited, var(--visited-link));
  }

  &:focus {
    text-decoration: none;
    @include focus-ring();
  }
}

.link.no-style {
  color: var(--link-color, var(--link-01));
  text-decoration: none !important;
}


.link.no-decoration {
  text-decoration: none !important;
}

.link.inline {
  text-decoration: var(--link-decoration, underline);
}
