@use "sass:string";
@import "css-variables";
@import "../mixins";


:root {
  font-size: 16px;

  @each $name, $value in $css-variables {
    #{$name}: #{$value};
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}


html {
  transition-duration: 280ms;
}


@include for-desktop-up {
  article p {
    max-width: 75ch;
  }
}

/**
  * Article styles - for blog posts, documentation, etc.
  */
.article {

}

p, h1, h2, h3, h4, h5, h6 {
  color: var(--color-on-surface);
}

.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
  color: var(--color-on-surface);
  margin: 0;
}

.article section {
  margin-block-start: var(--spacing-400);
}

.article h1 {
  margin-block-start: var(--spacing-800);
  margin-block-end: var(--spacing-400);
}

.article h2 {

  margin-block-end: var(--spacing-200);
}

.article h3 {
  margin-block-start: var(--spacing-200);
  margin-block-end: var(--spacing-100);
}

.article p {
  max-width: 60ch;
  margin-block-end: var(--spacing-200);
}


table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


.surface, .surface-container, .surface-container-low, .surface-container-lowest, .surface-dim {
  color: var(--color-on-surface);
  --icon-color: var(--color-on-surface);
}

.surface {
  background: var(--color-surface);
}

.surface-container-high {
  background: var(--color-surface-container-high);
}

.surface-container-highest {
  background: var(--color-surface-container-highest);
}

.surface-container {
  background: var(--color-surface-container);
}

.surface-container-low {
  background: var(--color-surface-container-low);
}

.surface-container-lowest {
  background: var(--color-surface-container-lowest);
}

.surface-dim {
  background: var(--color-surface-dim);
}


.surface-variant {
  background: var(--color-surface-variant);
  color: var(--color-on-surface-variant);
}



.layer-01 {
  background: var(--layer-01);
}

.layer-02 {
  background: var(--layer-02);
}


[data-theme="light"] {
  @each $name, $value in $css-variables {
    #{$name}: #{$value};

  }
}

[data-theme="g10"] {
  @each $name, $value in $color-gray-10-variables {
    #{$name}: #{$value};

  }
}

[data-theme="g90"] {
  @each $name, $value in $color-gray-90-variables {
    #{$name}: #{$value};

  }
}

[data-theme="dark"] {
  @each $name, $value in $dark-color-css-variables {
    #{$name}: #{$value};

  }
}
