@import "../mixins";

.text-headline, .text-headline-medium, .text-headline-large, .text-headline-small {
  margin-block-end: var(--spacing-400);
}

$types: "display", "headline", "body", 'label', 'title';

$sizes: "large", "medium", 'small';

@each $type in $types {
  .text-#{$type} {
    @include get-typography(#{$type}-medium);
  }

  @each $size in $sizes {
    .text-#{$type}-#{$size} {
      @include get-typography(#{$type}-#{$size});
    }

    .text-#{$type}-#{$size}-emphasized {
      @include get-typography(#{$type}-#{$size}-emphasized);
    }
  }
}


p {
  @include get-typography(body-medium);
}
