@use '../../scss/mixin';

@include mixin.base-styles;

:host {
  display: block;
}


.empty-state {
  container: emptystate / inline-size;
  padding: var(--spacing-100);
  height: 100%;
  max-width: var(--container-lg);
  margin: auto;
}

.empty-state-container {
  display: flex;
  height: 100%;
  justify-content: center;
  gap: var(--spacing-500);
  align-items: center;
}

.illustration {
  height: 100%;
  display: flex;

  p-icon {
    --icon-size: 100%;
  }
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    @include mixin.get-typography(headline-medium-emphasized);
    margin-bottom: var(--spacing-200);
    color: var(--color-on-surface)
  }

  .description {
    @include mixin.get-typography(body-medium);
    margin-bottom: var(--spacing-400);
    color: var(--color-on-surface-variant)
  }
}

:host(.content-center) .content {
  align-items: center;
}

@container emptystate (min-width: 672px) {
  .empty-state {
    .illustration {
      width: 50%;
    }

    .content {
      width: 50%;
    }
  }
}

@container emptystate (max-width: 671px) {
  .empty-state {
    .empty-state-container {
      flex-direction: column;
      gap: var(--spacing-200);

      .illustration {
        height: auto;
        width: 100%;
        justify-content: center;
      }
    }
  }
}

