---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<p class='text-body-large'>Here are several predefined button styles, each serving its own semantic purpose.</p>

<DemoComponentCard lang={'html'}>
  <wc-icon-button variant='elevated' name='home'></wc-icon-button>
  <wc-icon-button name='home'></wc-icon-button>
  <wc-icon-button variant='tonal' name='home'></wc-icon-button>
  <wc-icon-button variant='outlined' name='home'></wc-icon-button>
  <wc-icon-button variant='text' name='home'></wc-icon-button>
  <wc-icon-button variant='neo' name='home'></wc-icon-button>
</DemoComponentCard>

<DemoComponentCard lang={'html'}>
  <wc-icon-button block name='home'>Block</wc-icon-button>
</DemoComponentCard>

<br/>

<style is:inline>
  strong {
    font-weight: bold;
  }
</style>

<p class='text-body-large'>The <code class=text-code-block>type</code> property property serves as <strong>syntactic sugar</strong>, allowing you to quickly define a button's visual identity without manually configuring individual style attributes.</p>
<p class='text-body-large'><code class=text-code-block>type="primary"</code>: A shorthand for applying both the <strong>filled</strong> variant and the <strong>primary</strong> brand color simultaneously.</p>

<DemoComponentCard lang={'html'}>
  <wc-button type='primary'>Primary</wc-button>
  <wc-button type='secondary'>Secondary</wc-button>
  <wc-button type='tertiary'>Tertiary</wc-button>
  <wc-button type='danger'>Danger</wc-button>
</DemoComponentCard>
