---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<h4 class='text-title'>Horizontal (default)</h4>
<p class='text-body-large'>Items flow left-to-right in the default horizontal orientation.</p>

<DemoComponentCard lang={'html'}>
  <wc-toolbar variant='floating' orientation='horizontal'>
    <wc-icon-button variant='tonal'><wc-icon name='home'></wc-icon></wc-icon-button>
    <wc-icon-button variant='text' color="surface"><wc-icon name='search'></wc-icon></wc-icon-button>
    <wc-icon-button variant='text' color="surface"><wc-icon name='favorite'></wc-icon></wc-icon-button>
    <wc-icon-button variant='text' color="surface"><wc-icon name='account_circle'></wc-icon></wc-icon-button>
  </wc-toolbar>
</DemoComponentCard>

<br />

<h4 class='text-title'>Vertical</h4>
<p class='text-body-large'>
  Set <code>orientation="vertical"</code> to stack items top-to-bottom. Ideal for side-docked
  floating action bars.
</p>

<DemoComponentCard lang={'html'}>
  <wc-toolbar variant='floating' orientation='vertical'>
    <wc-icon-button variant='tonal'><wc-icon name='home'></wc-icon></wc-icon-button>
    <wc-icon-button variant='text' color="surface"><wc-icon name='search'></wc-icon></wc-icon-button>
    <wc-icon-button variant='text' color="surface"><wc-icon name='favorite'></wc-icon></wc-icon-button>
    <wc-icon-button variant='text' color="surface"><wc-icon name='account_circle'></wc-icon></wc-icon-button>
  </wc-toolbar>
</DemoComponentCard>
