---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<h4 class='text-title'>Docked</h4>
<p class='text-body-large'>
  The default variant. A full-width bar that sits at the top of the page or a container. Pair it
  with <code>elevated</code> to add a subtle shadow that separates it from the content below.
</p>

<DemoComponentCard lang={'html'}>
  <div style='width: 100%; overflow: hidden; border-radius: 0.5rem;'>
    <wc-toolbar elevated>
      <wc-icon-button slot='start' name='arrow_back'></wc-icon-button>
      <span class='text-title-large'>Page Title</span>
      <wc-icon-button slot='end' name='more_vert'></wc-icon-button>
    </wc-toolbar>
  </div>
</DemoComponentCard>

<br />

<h4 class='text-title'>Floating</h4>
<p class='text-body-large'>
  A detached pill-shaped toolbar that floats over content. Suitable for persistent actions in
  full-bleed layouts such as maps or canvases.
</p>

<DemoComponentCard lang={'html'}>
  <wc-toolbar variant='floating'>
    <wc-icon-button name='home'></wc-icon-button>
    <wc-icon-button name='search'></wc-icon-button>
    <wc-icon-button name='favorite'></wc-icon-button>
    <wc-icon-button name='account_circle'></wc-icon-button>
  </wc-toolbar>
</DemoComponentCard>
