---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<h4 class='text-title'>Docked</h4>
<p class='text-body-large'>
  The default variant. A full-width bar that sits attached to the bottom edge like a mobile
  navigation panel. Pair it with <code>elevated</code> to add separation from the content above.
</p>

<DemoComponentCard lang={'html'}>
  <div style='width: 100%; overflow: hidden; border-radius: 0.5rem;'>
    <wc-toolbar elevated>
      <wc-icon-button variant='text' name='home'></wc-icon-button>
      <wc-icon-button variant='tonal' name='search'></wc-icon-button>
      <wc-icon-button variant='text' name='favorite'></wc-icon-button>
      <wc-icon-button variant='text' name='account_circle'></wc-icon-button>
    </wc-toolbar>
  </div>
</DemoComponentCard>

<br />

<h4 class='text-title'>Floating</h4>
<p class='text-body-large'>
  A detached pill-shaped toolbar that floats over content. Suitable for persistent actions in
  full-bleed layouts such as maps or canvases.
</p>

<DemoComponentCard lang={'html'}>
  <wc-toolbar variant='floating'>
    <wc-icon-button variant='tonal' name='home'></wc-icon-button>
    <wc-icon-button variant='text' name='search'></wc-icon-button>
    <wc-icon-button variant='text' name='favorite'></wc-icon-button>
    <wc-icon-button variant='text' name='account_circle'></wc-icon-button>
  </wc-toolbar>
</DemoComponentCard>
