@import "../../../globalStyles/commons";

:host {
  display: inline-block;
  --pc-popover-tiptab-padding: 0.5rem;
  --pc-popover-height: inherit;
  height: var(--pc-popover-height);
}

.popover {
  height: var(--pc-popover-height);

  &.tip-tab {
    padding: var(--pc-popover-tiptab-padding);
    line-height: 0;
    transition: background 0.1s ease-out 0s;

    &.open {
      background: var(--layer);
    }
  }
}

