@use '../../../scss/mixin';

@include mixin.base-styles;

:host {
  display: inline-block;
  --chip-container-color: var(--color-surface);
  --chip-label-text-color: var(--color-on-surface);
  --chip-outline-color: var(--color-outline);
  --chip-container-shape: var(--shape-corner-small);
}

:host-context([data-theme="dark"]) {
  --chip-hover-color: var(--color-primary-30);
}

.chip {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--chip-height, var(--_chip-height, 2rem));
  padding: 0 var(--_container-padding, 1rem);
  width: 100%;
  border-radius: var(--chip-container-shape);

  .tag-content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--chip-label-text-color);
    @include mixin.get-typography(label-small);
    gap: .5rem;


    .tag-image {
      width: 1.125rem;
      height: 1.125rem;
      border-radius: 100%;
      background: var(--chip-hover-color);
    }

  }

  .close-btn {
    border-radius: 12px;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    line-height: 0;
    cursor: pointer;
    --icon-size: 1rem;

    .close-btn-icon {
      --icon-size: 1rem;
    }

    &:hover {
      background: var(--chip-hover-color);

      .close-btn-icon {
        color: var(--background);
      }
    }
  }

  /**
   * Tag background layers
   */
  .background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    background: var(--chip-container-color);
    pointer-events: none;
  }

  .outline {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 1px solid var(--chip-outline-color);
  }

  .elevation {
    --elevation-level: 0;
    transition-duration: 280ms;
    border-radius: inherit;
  }


  &.dismissible .tag-content {
    padding-inline-end: .25rem;
  }

  &.selected {
    color: var(--background);
    background: var(--chip-hover-color);

    .close-btn-icon {
      color: var(--background);
    }
  }
}



@import 'chip-colors';
