

:host([color=red]) {
  --chip-container-color: var(--color-red-container);
  --chip-outline-color: var(--color-on-red-container);
}

:host([color=green]) {
  --chip-container-color: var(--color-green-container);
  --chip-label-text-color: var(--color-on-green-container);
  --chip-outline-color: var(--color-on-green-container);
}

:host([color=blue]) {
  --chip-container-color: var(--color-blue-container);
  --chip-label-text-color: var(--color-on-blue-container);
  --chip-outline-color: var(--color-on-blue-container);
}

:host([color=yellow]) {
  --chip-container-color: var(--color-yellow-container);
  --chip-label-text-color: var(--color-on-yellow-container);
  --chip-outline-color: var(--color-on-yellow-container);
}

:host([color=purple]) {
  --chip-container-color: var(--color-purple-container);
  --chip-label-text-color: var(--color-on-purple-container);
  --chip-outline-color: var(--color-on-purple-container);
}

