@import "../../../globalStyles/commons";

.arc-container path {
  stroke: v(--color-light);
  stroke-width: 2px;
  transition: all 0.1s ease-out;
}

.item-polyline {
  fill: none;
  stroke-width: 1;
  stroke: var(--text-primary);
}

.title, .label {
  fill: var(--text-primary);
  @include font-style(text-md);
}

.item-label {
  fill: var(--text-primary);
  font-size: v(--label-01-font-size);
  font-weight: v(--label-01-font-weight);
  line-height: v(--label-01-line-height);
  letter-spacing: v(--label-01-letter-spacing);
}
