@use "../../scss/mixin";

@include mixin.base-styles;

:host {
  display: block;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-050);
  padding-block: var(--spacing-050);
  border-radius: var(--shape-corner-large);
  background-color: var(--_container-color);
}

.list.variant-standard {
  --_container-color: var(--color-surface-container);
}

.list.variant-vibrant {
  --_container-color: var(--color-tertiary-container);
}
