@import "../../globalStyles/commons";

:host {
  display: block;
  margin-bottom: var(--spacing-050);
}

.breadcrumb {
  display: flex;
  align-items: center;
}

slot::slotted(*) {
  &::before {
    display: inline-block;
    padding-right: var(--spacing-100);
    padding-left: var(--spacing-100);
    color: var(--color-outline);
    content: "/";
  }
}

slot::slotted(*:first-child) {
  &::before {
    display: none;
  }
}

