---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---


<DemoComponentCard lang='html'>

  <span class='tooltip-link' tabindex='1'>
     hover here
      <p-tooltip id='save-tooltip' content='Save the record'></p-tooltip>
    </span>
</DemoComponentCard>


<DemoComponentCard lang='html'>

  <p-button tooltip='Testing'>Test</p-button>
</DemoComponentCard>
