---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<style is:inline>
  .demo-component-card .demo-area {
    min-height: 20rem !important;
  }
</style>

<DemoComponentCard lang='html'>

  <span class='tooltip-link' tabindex='1'>
     hover here
      <p-tooltip open>Save the record</p-tooltip>
    </span>
</DemoComponentCard>

<br/>

<h3 class='text-headline-small'>Rich Tooltip</h3>

<DemoComponentCard lang='html'>
  <span class='tooltip-link' tabindex='1'>
     hover here
      <p-tooltip variant='rich' open>
        <span slot='title'>Rich tooltip</span>
        Rich tooltips bring attention to important information or actions.
        <div slot='actions'>
          <p-button variant='text' size='xs'>Action</p-button>
           <p-button variant='text' size='xs'>Action</p-button>
        </div>
      </p-tooltip>
    </span>
</DemoComponentCard>



<DemoComponentCard lang='html'>
  <div style='position:relative;width:150px'>
    <p-button id='tooltip-btn' variant='outlined'><p-icon slot='icon' name='save'></p-icon></p-button>
    <p-tooltip for='tooltip-btn'>Relative tooltup using for attribute</p-tooltip>
  </div>
</DemoComponentCard>


