---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import Highlighter from '../../../../components/Highlighter.astro';
---

<HighlighterCard lang='html' cssClasses={'demo-canvas'}>

  <goat-tooltip id='save-tooltip' content='Save the record'>
    <pc-button icon='save' variant='outline'></pc-button>
  </goat-tooltip>


  <br/>
  <br/>
  <br/>

  <goat-tooltip placements='bottom-start'>
    <pc-button>Test</pc-button>

    <span slot='content'>
        Very large content. Very large content. Very large content.Very large content. Very large content. Very large content.
      </span>
  </goat-tooltip>

</HighlighterCard>
