---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import Highlighter from '../../../../components/Highlighter.astro';
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<DemoComponentCard lang='html' cssClasses={'demo-canvas'}>

  <pc-tooltip id='save-tooltip' content='Save the record'>
    <pc-button variant='outlined'><pc-icon slot="icon" name='save'></pc-icon></pc-button>
  </pc-tooltip>



  <pc-tooltip placements='bottom-start'>
    <pc-button>Test</pc-button>

    <span slot='content'>
        Very large content. Very large content. Very large content.Very large content. Very large content. Very large content.
      </span>
  </pc-tooltip>

</DemoComponentCard>
