---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<style is:inline>
  .demo-component-card .demo-area {
    min-height: 20rem !important;
  }
</style>

<DemoComponentCard lang='html'>

  <span class='tooltibase-link' tabindex='1'>
     hover here
      <base-tooltip open>Save the record</base-tooltip>
    </span>
</DemoComponentCard>

<br/>

<h3 class='text-headline-small'>Rich Tooltip</h3>

<DemoComponentCard lang='html'>
  <span class='tooltibase-link' tabindex='1'>
     hover here
      <base-tooltip variant='rich' open>
        <span slot='title'>Rich tooltip</span>
        Rich tooltips bring attention to important information or actions.
        <div slot='actions'>
          <base-button variant='text' size='xs'>Action</base-button>
           <base-button variant='text' size='xs'>Action</base-button>
        </div>
      </base-tooltip>
    </span>
</DemoComponentCard>



<DemoComponentCard lang='html'>
  <div style='position:relative;width:150px'>
    <base-button id='tooltip-btn' variant='outlined'><base-icon slot='icon' name='save'></base-icon></base-button>
    <base-tooltip for='tooltip-btn'>Relative tooltup using for attribute</base-tooltip>
  </div>
</DemoComponentCard>


