---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---



<DemoComponentCard lang={'html'}>
        <div class="elevated-element">
          <p-elevation style='--elevation-level: 1'></p-elevation>
          Level 1
        </div>

  <div class="elevated-element">
    <p-elevation style='--elevation-level: 2'></p-elevation>
    Level 2
  </div>


  <div class="elevated-element">
    <p-elevation style='--elevation-level: 3'></p-elevation>
    Level 3
  </div>

  <div class="elevated-element">
    <p-elevation style='--elevation-level: 4'></p-elevation>
    Level 4
  </div>

  <div class="elevated-element">
    <p-elevation style='--elevation-level: 5'></p-elevation>
    Level 5
  </div>

  <style is:inline>
    .elevated-element {
      position: relative;
      border-radius: var(--shape-corner-extra-small);
      padding: var(--spacing-200);
    }
  </style>

</DemoComponentCard>
