@use '../../../scss/mixin';

.button {
  --_container-padding: 0.75rem;
  width: var(--_button-height);
  --_container-padding: 0;
}
.button.size-xs,
.button.size-extra-small {
  --_button-height: 2rem;
  --_button-icon-size: 1rem;
}


.button.size-sm,
.button.size-small {
  --_button-height: 2.5rem;
  --_button-icon-size: 1.25rem;
  --_button-icon-label-spacing: 0.5rem;
}

.button.size-md,
.button.size-medium {
  --_button-height: 3.5rem;
  --_button-icon-size: 1.5rem;
}

.button.size-lg,
.button.size-large {
  --_button-height: 6rem;
  --_button-icon-size: 2rem;
}

.button.size-xl {
  --_button-height: 8.5rem;
  --_button-icon-size: 2.5rem;
}
