@import "../../../globalStyles/commons";


:host {
  display: inline-block;
  /**
    * @prop --menu-background: Background color of the menu
   */
  --menu-background: var(--color-secondary-container);
  --menu-text-color:  var(--color-on-secondary-container);
  --menu-border-radius: var(--global-shape-corner-medium);

  /**
    * @prop --menu-max-height: Maximum height of the menu
   */
  --menu-max-height: 100%;

  /**
    * @prop --menu-shadow: Shadow of the menu
   */
  --menu-shadow: 0 2px 6px 0 rgba(0,0,0,.2);

  min-width: 10rem;
}

.menu {
  background: var(--menu-background);
  box-sizing: border-box;
  max-height: var(--menu-max-height);
  overflow-x: auto;
  border: 1px solid var(--color-outline);
  border-radius: var(--menu-border-radius);
  box-shadow: var(--menu-shadow);
  padding-block: var(--spacing-050);
}

:host(.no-border) .menu {
  border: none;
  box-shadow: none;
}

slot::slotted(pc-divider) {
  --divider-padding: var(--spacing-050);
}
