---
import Highlighter from '../../../../components/Highlighter.astro';
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<pc-text type='body'>
  The popover can be positioned relative to the trigger element. Possible positions are:
  <pc-text type='code'>top</pc-text>
  ,
  <pc-text type='code'>right</pc-text>
  ,
  <pc-text type='code'>left</pc-text>
  ,
  <pc-text type='code'>bottom</pc-text>
  .

  Also you can use the following modifiers: <pc-text type='code'>start</pc-text> and <pc-text type='code'>end</pc-text> to align the popover.


</pc-text>
<pc-text type='body'>
  You can also use the <code class='language-html'>positions</code> attribute to set all preferred position of the
  dropdown. On scroll, the dropdown will be repositioned to the
  closest position.
</pc-text>


<style is:inline>
  .demo-placement-container .demo-area {
    height: 500px;
    overflow: auto;
  }

  .demo-placement-container .demo-area-inner {
    height: 300%;
    width: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
</style>

<HighlighterCard lang='html' cssClasses='demo-placement-container'>


  <pc-popover trigger='manual' open placements='top-start,bottom-end'>
    <p-icon name='settings' style='cursor: pointer'></p-icon>

    <pc-popover-content>
      <pc-input label='Name' layer='01'></pc-input>
      <pc-input label='Email' layer='01'></pc-input>
      <p-button>Submit</p-button>
    </pc-popover-content>

    <div slot='start'></div>
  </pc-popover>


</HighlighterCard>


<script is:inline>

  const $demoPlacementArea = document.querySelector('.demo-placement-container .demo-area');

  setTimeout(() => {
    $demoPlacementArea.scroll($demoPlacementArea.scrollWidth/ 3, $demoPlacementArea.scrollHeight/ 3);
  }, 1000);

</script>

