---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<pc-text type='heading' heading-size='3'>Color</pc-text>
<pc-text type='body'>You can change the color of the icon using the <code>--icon-color</code> CSS variable.</pc-text>
<DemoComponentCard lang={'html'}>
  <pc-icon name='alarm' style='--icon-color: var(--color-on-surface)'></pc-icon>

  <pc-icon name='alarm' style='--icon-color: var(--color-info)'></pc-icon>
  <pc-icon name='alarm' style='--icon-color: var(--color-success)'></pc-icon>
  <pc-icon name='alarm' style='--icon-color: var(--color-warning)'></pc-icon>
  <pc-icon name='alarm' style='--icon-color: var(--color-danger)'></pc-icon>

  <span style='--icon-color: pink; line-height: 0;'>
  <pc-icon name='alarm'></pc-icon>
</span>
</DemoComponentCard>

<pc-text type='heading' heading-size='3'>Size</pc-text>
<pc-text type="body">Fancy larger or smaller icons? Add size attribute for additional sizes.</pc-text>
<DemoComponentCard lang={'html'}>
  <pc-icon name="alarm"></pc-icon>
  <pc-icon name="alarm" style="--icon-size: 3rem"></pc-icon>
  <pc-icon name="alarm" style="--icon-size: 100px"></pc-icon>
</DemoComponentCard>
