---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang={'html'}>
  <pc-icon name='alarm'></pc-icon>

  <pc-icon name='alarm' style='--pc-icon-color: var(--color-info)'></pc-icon>
  <pc-icon name='alarm' style='--pc-icon-color: var(--color-success)'></pc-icon>
  <pc-icon name='alarm' style='--pc-icon-color: var(--color-warning)'></pc-icon>
  <pc-icon name='alarm' style='--pc-icon-color: var(--color-danger)'></pc-icon>

  <span style='--pc-icon-color: pink'>
  <pc-icon name='alarm'></pc-icon>
</span>
</HighlighterCard>
