---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang={'html'}>
  <pc-icon name='alarm'></pc-icon>

  <pc-icon name='alarm' class='inherit' style='color: var(--color-primary)'></pc-icon>
  <pc-icon name='alarm' class='inherit' style='color: var(--color-success)'></pc-icon>
  <pc-icon name='alarm' class='inherit' style='color: var(--color-warning)'></pc-icon>
  <pc-icon name='alarm' class='inherit' style='color: var(--color-error)'></pc-icon>

  <span style='color: pink'>
  <pc-icon name='alarm' class='inherit'></pc-icon>
</span>
</HighlighterCard>
