@import "../../globalStyles/commons";

:host {
  display: block;
  padding-bottom: var(--spacing-100);
  --card-border-color: var(--color-outline);
  --card-background: var(--color-surface);
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--card-border-color);
  border-radius: var(--global-shape-corner-large);
  overflow: clip;
  height: 100%;
  background-color: var(--card-background);
}

:host([shadow-level="xxl"]) .card {
  box-shadow: v(--shadow-xl);
}

:host([shadow-level="xl"]) .card {
  box-shadow: v(--shadow-xl);
}

:host([shadow-level="lg"]) .card {
  box-shadow: v(--shadow-xl);
}

:host([shadow-level="md"]) .card {
  box-shadow: v(--shadow-xl);
}

:host([shadow-level="sm"]) .card {
  box-shadow: v(--shadow-xl);
}


:host([shadow-level="xs"]) .card {
  box-shadow: v(--shadow-xl);
}

slot::slotted(pc-card-content) {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid var(--card-border-color);
}

slot::slotted(pc-card-content:last-child) {
  border-bottom: none;
  flex: 1;
}
