---
import Layout from '../../layouts/Default.astro';
import '../../styles/blog.scss';
import site from '../../_data/site.json';
import Footer from '../../components/Footer.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.astro', { eager: true }));
---
<Layout  classes='surface'>
  <div class='main-content'>
    <wc-container class='blog-posts page-container'>
      <h2 class='text-display'>Blog</h2>
      <p class='text-body-large'>News and announcements for all things { site.title }, including new releases</p>

      <wc-divider></wc-divider>

      <div class='post-list'>
        {allPosts.map((post: any) => {
          return (
            <div class='item'>
              <h3 class='text-headline'>
                <wc-link href={`${post.url}`} title='{{ post.title }}'>{post.title}</wc-link>
              </h3>
              <p class='text-body-large'>{post.description}</p>
              <p color='secondary'>
                Posted on {post.publishedDate}
              </p>
            </div>);
        })}

      </div>
    </wc-container>
    <Footer />
  </div>
</Layout>
