@import "../../globalStyles/commons";

:host {
  display: inline-block;
  line-height: 0;
  --pc-icon-size: inherit;
}

.icon {
  display: block;
  line-height: 0;

  height: var(--pc-icon-size, 1rem);
  width: var(--pc-icon-size, 1rem);


  svg {
    fill: currentColor;
    height: 100%;
    width: 100%;
  }
}
