:host {
  display: inline-block;
  line-height: 0;
  --pc-icon-size: inherit;
  --pc-icon-color: inherit;
}

.icon {
  display: block;
  line-height: 0;

  height: var(--pc-icon-size, 1rem);
  width: var(--pc-icon-size, 1rem);

  svg {
    fill: var(--pc-icon-color, var(--color-icon-primary));
    height: 100%;
    width: 100%;
  }
}
