---
import Highlighter from '../../../../components/Highlighter.astro';
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>On input change a <b>CustomEvent</b> <code class='highlighter-rouge'
                                                                  data-lang='html'>goat-textarea--change</code> is triggered by
  the element.
</p>


<DemoComponentCard lang={'html'}>
  <textarea-field variant='default' id='name-input-field'></textarea-field>

  <script is:inline>
    document.querySelector('#name-input-field').addEventListener('input', function(event) {
      myConsole.log(event.target.value, event.type);
    });
    document.querySelector('#name-input-field').addEventListener('change', function(event) {
      myConsole.warn(event.target.value, event.type);
    });
  </script>
</DemoComponentCard>
