---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<h3 class='text-headline-small'>Disabled</h3>
<p class='text-body-large'>Make input look inactive by adding the disabled <code>boolean</code> attribute to any
  <code>&lt;button&gt;</code> element.
</p>

<DemoComponentCard lang={'html'}>
  <wc-textarea disabled=''></wc-textarea>
</DemoComponentCard>

<br />

<h3 class='text-headline-small'>Readonly</h3>
<p class='text-body-large'>Make input look inactive by adding the disabled <code>boolean</code> attribute to any
  <code>&lt;button&gt;</code> element.
</p>

<DemoComponentCard lang={'html'}>
  <wc-textarea readonly=''></wc-textarea>
</DemoComponentCard>
