---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';---


<DemoComponentCard lang={'html'}>
  <code-highlighter line-numbers language="javascript" is:raw>
    <pre><code>
      const helloWorld = () => alert ('Hello World!');
      export { helloWorld };
</code></pre>
  </code-highlighter>
</DemoComponentCard>



<DemoComponentCard lang='html'>
  <h3 class='text-headline'>In line code
    <code class='text-code-block'>const helloWorld = () => alert ('Hello World!');</code>
  </h3>
</DemoComponentCard>
