@import "../../globalStyles/commons";

:host {
  color: var(--text-secondary);
  display: block;

  /**
   * @prop --pc-divider-color: Color of the divider
   */
  --pc-divider-color: #{v(--border-strong-01)};

  /**
   * @prop --pc-divider-padding: Padding of the divider
   */
  --pc-divider-padding: #{v(--spacing-05)};
}

.divider {
  display: flex;
  margin: 0;
  @include font-style(body-compact-01);

  &:not(.vertical) {
    width: 100%;
    padding: var(--pc-divider-padding) 0;
    align-items: center;
    justify-content: center;

    .line {
      width: 100%;
      border-top: 1px solid var(--pc-divider-color);
    }

    &.has-content .slot-container {
      padding: 0 var(--spacing-04);
    }
  }

  &.vertical {
    height: 100%;
    padding: 0 var(--pc-divider-padding);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .line {
      height: 100%;
      border-right: 1px solid var(--pc-divider-color);
    }

    &.has-content .slot-container {
      padding: var(--spacing-03) 0;
    }
  }

}

:host(:not([vertical])) {
  width: auto;
}

:host([vertical]) {
  height: auto;
}
