@import "../../globalStyles/commons";

:host {
  display: block;

  /**
   * @prop --pc-divider-color: Color of the divider
   */
  --divider-color: var(--color-outline-variant);

  /**
   * @prop --divider-padding: Padding of the divider
   */
  --divider-padding: var(--spacing-200);
}

.divider {
  display: flex;
  margin: 0;
  @include get-typography(body-small-emphasized);
  color: var(--divider-color);

  &:not(.vertical) {
    width: 100%;
    padding: var(--divider-padding) 0;
    align-items: center;
    justify-content: center;

    .line {
      width: 100%;
      border-top: 1px solid var(--divider-color);
    }

    &.has-content .slot-container {
      padding: 0 var(--spacing-200);
    }
  }

  &.vertical {
    height: 100%;
    padding: 0 var(--divider-padding);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .line {
      height: 100%;
      border-right: 1px solid var(--divider-color);
    }

    &.has-content .slot-container {
      padding: var(--spacing-200) 0;
    }
  }

}

:host(:not([vertical])) {
  width: auto;
}

:host([vertical]) {
  height: auto;
}
