---
import Highlighter from '../../../../components/Highlighter.astro';
---

<pc-text type='body'
>Make editor look inactive by adding the disabled <code class='highlighter-rouge' data-lang='html'>boolean</code>
  attribute to any
  <code class='highlighter-rouge' data-lang='html'>&lt;input&gt;</code> element.
</pc-text>

<div class='card'>
  <div class='card-body'>
    <Highlighter lang={'html'}>
      <pc-code-editor disabled></pc-code-editor>
    </Highlighter>
  </div>
</div>
