---
import Highlighter from '../../../../components/Highlighter.astro';
---

<pc-text type='body'>Please click on checkbox and try disabling able editor.</pc-text>

<div class='card'>
  <div class='card-body'>
    <Highlighter lang={'html'}>
      <pc-code-editor theme='vs-dark'></pc-code-editor>
    </Highlighter>
  </div>
</div>
