---
import Highlighter from '../../../../components/Highlighter.astro';
---

<p class='text-body-large'>Please click on checkbox and try disabling able editor.</p>

<div class='card'>
  <div class='card-body'>
    <Highlighter lang={'html'}>
      <pc-code-editor theme='vs-dark'></pc-code-editor>
    </Highlighter>
  </div>
</div>
