@import "../../../3d-party/prism/prism";
@import "../../../3d-party/prism/prism-line-numbers";
@import "../../../globalStyles/commons";


:host {
  display: block;
  height: 100%;

  /**
    * @prop --code-highlighter-background: Code Highlighter background color
    */
  --code-highlighter-background: var(--color-surface-container-low);
}

.code-loader {
  height: 10rem;
  background-color: var(--code-highlighter-background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-050);
}

.code-highlighter {
  position: relative;
  height: 100%;
  background-color: var(--code-highlighter-background);
  color: var(--text-primary);

  .scroll-wrapper {
    height: 100%;
    overflow: auto;

    .line-numbers-wrapper {
      padding: var(--spacing-200);
      padding-inline-end: 3rem;
      position: relative;
      
      &.line-numbers {
        margin-left: 3.8rem;
      }

      .highlighter {
        margin: 0;
        position: relative;
        @include get-typography(code-medium);
      }
    }
  }

  .copy-btn {
    position: absolute;
    background-color: var(--code-highlighter-background);
    top: 0.675rem;
    right: var(--spacing-100);
  }
}

:host([inline]) {
  display: inline;
  height: initial;

  .code-highlighter {
    display: inline;
    cursor: pointer;

    .scroll-wrapper {
      display: inline;

      .line-numbers-wrapper {
        padding: 0 var(--spacing-100);
        font-size: inherit;
        display: inline;
        word-wrap: break-word;

        .highlighter {
          display: inline;
        }
      }
    }
  }

  .code-loader {
    height: initial;
    display: inline;
  }
}
