@use '../../scss/mixin';

@include mixin.base-styles;

/**
 * Derived from Material Design Elevation
 * https://github.com/material-components/material-web/blob/main/elevation/internal/_elevation.scss
 */

:host,
.shadow,
.shadow::before,
.shadow::after {
  border-start-start-radius: var(--elevation-container-shape-start-start, var(--elevation-container-shape));
  border-start-end-radius: var(--elevation-container-shape-start-end, var(--elevation-container-shape));
  border-end-start-radius: var(--elevation-container-shape-end-start, var(--elevation-container-shape));
  border-end-end-radius: var(--elevation-container-shape-end-end, var(--elevation-container-shape));
  corner-shape: var(--elevation-container-shape-variant);

  inset: 0;
  position: absolute;
  transition-duration: inherit;
  transition-property: inherit;
  transition-timing-function: inherit;
}

:host {
  display: flex;
  pointer-events: none;
  transition-property: box-shadow, opacity;
  --elevation-level: 0;
  --elevation-color: var(--elevation-color-default, black);

  /* Fallback values for side-specific levels, falling back to --elevation-level */
  --_level-top: var(--elevation-level-block-start, var(--elevation-level, 0));
  --_level-bottom: var(--elevation-level-block-end, var(--elevation-level, 0));
  --_level-left: var(--elevation-level-inline-start, var(--elevation-level, 0));
  --_level-right: var(--elevation-level-inline-end, var(--elevation-level, 0));
}

:host-context([dir="rtl"]) {
  --_level-left: var(--elevation-level-inline-end, var(--elevation-level, 0));
  --_level-right: var(--elevation-level-inline-start, var(--elevation-level, 0));
}

:host([dir="rtl"]) {
  --_level-left: var(--elevation-level-inline-end, var(--elevation-level, 0));
  --_level-right: var(--elevation-level-inline-start, var(--elevation-level, 0));
}

.shadow {
  /* Set the default private level property */
  --_level: var(--elevation-level, 0);
}

.shadow.block-start {
  --_level: var(--_level-top);
  clip-path: polygon(50% 50%, -950% -950%, 1050% -950%);
}

.shadow.block-end {
  --_level: var(--_level-bottom);
  clip-path: polygon(50% 50%, 1050% 1050%, -950% 1050%);
}

.shadow.inline-start {
  --_level: var(--_level-left);
  clip-path: polygon(50% 50%, -950% 1050%, -950% -950%);
}

.shadow.inline-end {
  --_level: var(--_level-right);
  clip-path: polygon(50% 50%, 1050% -950%, 1050% 1050%);
}

:host-context([dir="rtl"]),
:host([dir="rtl"]) {
  .shadow.inline-start {
    clip-path: polygon(50% 50%, 1050% -950%, 1050% 1050%);
  }
  .shadow.inline-end {
    clip-path: polygon(50% 50%, -950% 1050%, -950% -950%);
  }
}

.shadow::before,
.shadow::after {
  content: '';
  transition-property: box-shadow, opacity;

  // --_level is inherited from .shadow
  --_shadow-color: var(--elevation-color);
}

// Key box shadow
.shadow::before {
  // level0: box-shadow: 0px 0px 0px 0px;
  // level1: box-shadow: 0px 1px 2px 0px;
  // level2: box-shadow: 0px 1px 2px 0px;
  // level3: box-shadow: 0px 1px 3px 0px;
  // level4: box-shadow: 0px 2px 3px 0px;
  // level5: box-shadow: 0px 4px 4px 0px;
  box-shadow: 0 calc(1px * (clamp(0, var(--_level), 1) + clamp(0, var(--_level) - 3, 1) + 2 * clamp(0, var(--_level) - 4, 1))) calc(1px * (2 * clamp(0, var(--_level), 1) + clamp(0, var(--_level) - 2, 1) + clamp(0, var(--_level) - 4, 1))) 0 var(--_shadow-color);
  opacity: 0.3;
}

// Ambient box shadow
.shadow::after {
  // level0: box-shadow: 0px 0px 0px 0px;
  // level1: box-shadow: 0px 1px 3px 1px;
  // level2: box-shadow: 0px 2px 6px 2px;
  // level3: box-shadow: 0px 4px 8px 3px;
  // level4: box-shadow: 0px 6px 10px 4px;
  // level5: box-shadow: 0px 8px 12px 6px;
  box-shadow: 0 calc(1px * (clamp(0, var(--_level), 1) + clamp(0, var(--_level) - 1, 1) + 2 * clamp(0, var(--_level) - 2, 3))) calc(1px * (3 * clamp(0, var(--_level), 2) + 2 * clamp(0, var(--_level) - 2, 3))) calc(1px * (clamp(0, var(--_level), 4) + 2 * clamp(0, var(--_level) - 4, 1))) var(--_shadow-color);
  opacity: 0.15;
}
