@import "../../../globalStyles/commons";

:host {
  display: block;
  --accordion-border-color: var(--color-outline);
}

slot::slotted(pc-accordion-item) {
  border-block-start: 1px solid var(--accordion-border-color);
}

slot::slotted(pc-accordion-item:last-child) {
  border-block-end: 1px solid var(--accordion-border-color);
}
