---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Here are different types of inputs.</p>

<DemoComponentCard lang={'html'}>
  <wc-number-counter id="number-counter" value="4282828"></wc-number-counter>

  <script is:inline>
    customElements.whenDefined('wc-number-counter').then(() => {
      const $counter = document.querySelector('#number-counter');

      setInterval(() => {
        $counter.value = $counter.value + Math.floor(Math.random() * 1000);
      }, 1000);
    });
  </script>
</DemoComponentCard>
