@import "../../../globalStyles/commons";

:host {
  display: block;
  width: 100%;
  padding: v(--spacing-050) 0;
  --menu-divider-border-color: var(--outline-variant);
}

.divider {
  border-top: 1px solid var(--menu-divider-border-color);
}
