---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<p class='text-body-large'>Here are several predefined toggle sizes, each serving its own semantic purpose.</p>

<HighlighterCard lang={'html'}>

  <div class='component-container'>
    <pc-toggle size='lg'>Large</pc-toggle>
    <pc-toggle>Medium</pc-toggle>
  </div>

</HighlighterCard>
