@use '../../scss/mixin';

@include mixin.reset;

:host {
  display: inline-block;
  --badge-color: var(--global-badge-color);
  z-index: var(--z-index-badge);
}

.badge {
  pointer-events: none;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--badge-color);
  border-radius: var(--shape-corner-full);

  &.slot-has-content {
    height: 1rem;
    min-width: 1rem;
    padding-inline: var(--spacing-050);
    @include mixin.get-typography('label-small');
    color: var(--color-on-error);
  }

  &:not(.slot-has-content) {
    height: 0.375rem;
    width: 0.375rem;
  }
}
