---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>On input change a <b>CustomEvent</b> <code class='highlighter-rouge'
                                                                  data-lang='html'>pc-input--change</code> is triggered by
  the element.
</p>

<DemoComponentCard lang={'html'}>
  <p-input variant='default' id='name-input-field' placeholder='Type here'></p-input>

  <script is:inline>
    document.querySelector('#name-input-field').addEventListener('input', function(event) {
      myConsole.log('pc-input--input :: ' + event.target.value);
    });
    document.querySelector('#name-input-field').addEventListener('change', function(event) {
      myConsole.warn('pc-input--change :: ' + event.target.value);
    });
  </script>
</DemoComponentCard>
