---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller input? Add size attribute for additional sizes.</p>
<DemoComponentCard lang={'html'}>
  <wc-input size='lg' placeholder='Large'></wc-input>
  <wc-input placeholder='Medium'></wc-input>
  <wc-input size='sm' placeholder='Small'></wc-input>
</DemoComponentCard>
