---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller input? Add size attribute for additional sizes.</p>
<DemoComponentCard lang={'html'}>
  <p-input size='lg' placeholder='Large'></p-input>
  <p-input placeholder='Medium'></p-input>
  <p-input size='sm' placeholder='Small'></p-input>
</DemoComponentCard>
