---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller input? Add size attribute for additional sizes.</p>
<DemoComponentCard lang={'html'}>
  <input-field size='lg' placeholder='Large'></input-field>
  <input-field placeholder='Medium'></input-field>
  <input-field size='sm' placeholder='Small'></input-field>
</DemoComponentCard>
