---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<pc-text type='body'>Fancy larger or smaller input? Add size attribute for additional sizes.</pc-text>
<HighlighterCard lang={'html'}>

    <pc-input label='Email' type='text' size='lg'>
      <pc-icon slot='start' name='email'></pc-icon>
      <div slot='end'>@example.com</div>
    </pc-input>

    <pc-input type='text' label='Card Number'>
      <pc-icon slot='start' name='purchase'></pc-icon>
      <div slot='end'><pc-spinner></pc-spinner></div>
    </pc-input>

</HighlighterCard>
