---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller input? Add size attribute for additional sizes.</p>
<DemoComponentCard lang={'html'}>

    <p-input label='Email' type='text' size='lg'>
      <p-icon slot='start' name='mail'></p-icon>
      <div slot='end'>@example.com</div>
    </p-input>

    <p-input type='text' label='Card Number'>
      <p-icon slot='start' name='credit_card'></p-icon>
      <p-circular-progress slot='end' indeterminate></p-circular-progress>
    </p-input>

</DemoComponentCard>
