---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<pc-text type='heading' heading-size='3'>Disabled</pc-text>
<pc-text type='body' expressive>Make input look inactive by adding the disabled <code>boolean</code> attribute to any
  <code>&lt;button&gt;</code> element.
</pc-text>

<HighlighterCard lang={'html'}>
  <goat-input disabled>
    <pc-icon slot='start' class='inherit' name='email'></pc-icon>
    <span slot='end'>@example.com</span>
  </goat-input>
</HighlighterCard>

<br />

<pc-text type='heading' heading-size='3'>Readonly</pc-text>
<pc-text type='body' expressive>Make input look inactive by adding the disabled <code>boolean</code> attribute to any
  <code>&lt;button&gt;</code> element.
</pc-text>

<HighlighterCard lang={'html'}>
  <goat-input readonly=''>
    <pc-icon slot='start' class='inherit' name='email'></pc-icon>
    <span slot='end'>@example.com</span>
  </goat-input>
</HighlighterCard>

<pc-text type='heading' heading-size='3'>Status</pc-text>
<HighlighterCard lang={'html'}>
  <goat-input label='City' invalid invalid-text='Please provide a valid city' value='America'></goat-input>
  <goat-input label='City' warn warn-text='Please provide a valid city' value='America'></goat-input>
  <goat-input label='City' success value='America'></goat-input>
</HighlighterCard>
