---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<h3 class='text-headline-small'>Disabled</h3>
<p class='text-body-large'>Make input look inactive by adding the disabled <code>boolean</code> attribute to any
  <code>&lt;button&gt;</code> element.
</p>

<DemoComponentCard lang={'html'}>
  <input-field disabled>
    <wc-icon slot='start' class='inherit' name='mail'></wc-icon>
    <span slot='end'>@example.com</span>
  </input-field>
</DemoComponentCard>

<br />

<h3 class='text-headline-small'>Readonly</h3>
<p class='text-body-large'>Make input look inactive by adding the disabled <code>boolean</code> attribute to any
  <code>&lt;button&gt;</code> element.
</p>

<DemoComponentCard lang={'html'}>
  <input-field readonly='true'>
    <wc-icon slot='start' class='inherit' name='mail'></wc-icon>
    <span slot='end'>@example.com</span>
  </input-field>
</DemoComponentCard>

<br />

<h3 class='text-headline-small'>Status</h3>
<DemoComponentCard lang={'html'}>
  <input-field label='City' error error-text='Please provide a valid city' value='America'></input-field>
  <input-field label='City' warning warning-text='Please provide a valid city' value='America'></input-field>
</DemoComponentCard>
