---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Here are different types of inputs.</p>

<DemoComponentCard lang={'html'}>
  <p-input type='text'
              required
              label='Text input label'
              helper-text='Optional help text'
              placeholder='Optional placeholder text'
  ></p-input>
</DemoComponentCard>

<DemoComponentCard lang={'html'}>
  <p-input type='text'
           required
           variant='outlined'
           label='Text input label'
           helper-text='Optional help text'
           placeholder='Optional placeholder text'
  ></p-input>
</DemoComponentCard>

<DemoComponentCard lang={'html'}>
  <p-input type='password'
           label='Password'
           helper-text='Optional help text'
           placeholder='Optional placeholder text'></p-input>
</DemoComponentCard>

<DemoComponentCard lang={'html'}>
  <p-input type='text'
           skeleton
           required
           label='Text input label'
           helper-text=''
           placeholder='Optional placeholder text'
  ></p-input>
</DemoComponentCard>
