---
---
<div slot='right'>
  <goat-header-action icon='light_mode' class='theme-switcher'></goat-header-action>

  <goat-header-action class='icon-only' color='primary' selected>
    <goat-badge content='3' class='color-error'>
      <pc-icon name='notification' class='inherit' size='1.25rem'></pc-icon>
    </goat-badge>
  </goat-header-action>

  <goat-header-action>
    <div class='avatar-container'>
      <pc-avatar src='/assets/img/avatar.webp' name='Shivaji Varma' size='1.75rem'></pc-avatar>
      <pc-text class='inherit' inline>Shivaji Varma</pc-text>
    </div>
  </goat-header-action>

  <goat-dropdown placements='bottom-end'>
    <goat-header-action icon='thumbnail--2'></goat-header-action>
    <goat-menu slot='dropdown-content' class='menu' style='width: 200px'>
      <goat-menu-item value='cut'>
        <pc-icon name='cut' slot='start'></pc-icon>
        Cut
        <span slot='end'>⌘X</span>
      </goat-menu-item>
      <goat-menu-item value='copy'>
        <pc-icon name='copy' slot='start'></pc-icon>
        Copy
        <span slot='end'>⌘C</span>
      </goat-menu-item>
      <goat-menu-item value='paste'>
        <pc-icon name='paste' slot='start'></pc-icon>
        Paste
        <span slot='end'>⌘X</span>
      </goat-menu-item>
      <pc-divider></pc-divider>
      <goat-menu-item value='delete'>
        <pc-icon name='trash-can' slot='start'></pc-icon>
        Delete
        <span slot='end'>←</span>
      </goat-menu-item>
    </goat-menu>
  </goat-dropdown>
</div>
