---
import Layout from '../layouts/Default.astro';
import BannerLogo from '../components/BannerLogo.astro';
import site from '../_data/site.json';
import '../styles/index.page.scss';
import Footer from '../components/Footer.astro';

const isProd = import.meta.env.PROD;
let envProps;

if (isProd) {
  envProps = site['prod'];
} else {
  envProps = site['dev'];
}
---

<Layout classes='surface'
        keywords='web components, button, input, grid, ui library, calendar, table, accordion, select, search, notifications, modal, card, breadcrumb, tree view, tabs, pagination, tooltip, popover, dropdown, menu, slider, toggle, switch, progress bar, spinner, loader, toast, alert, badge, tag, avatar, chip, divider, list, icon, text, heading, paragraph, label, link, image, checkbox, radio, form, form group, form field'>

<style>
  .color-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .color-card {
    width: 100%;
    height: 50px;
    border-radius: 0.25rem;
    box-shadow: var(--shadow-1);
  }
</style>
  <pc-container>

    <div class='color-container'>


      {
        ['primary', 'secondary', 'tertiary', 'neutral', 'neutral-variant',


          'red', 'green', 'yellow', 'blue', ].map(function(color) {
          return (<pc-text>{color}</pc-text>

            <div class='color-cards'>
            {[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 95, 98, 100].map(function(shade) {
              return <div>
                <div class='color-card' style={`background-color: var(--color-${color}-${shade});`}>
              </div>
                <pc-text>{shade} - {}</pc-text>
              </div>
            })}
          </div>)
        })
      }


      <style is:inline>
        .app {
          width: 100%;
          height: 300px;
          position: relative;
          display: flow-root;
          border: 1px solid var(--color-outline);
        }
        .nav {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 60px;
        }

        .main {
          margin: 1rem 1rem 1rem calc(60px + 1rem);
          height: calc(100% - 2rem);
        }
      </style>
      <div class='app surface'>
          <div class='nav surface-variant'></div>

          <div class='main surface-container-low'>

          </div>
      </div>

    </div>

  </pc-container>



  <Footer />

</Layout>
