---
import Layout from '../layouts/Default.astro';
import ComponentCard from '../components/ComponentCard.astro';
import '../styles/components.page.scss';


import customElementsJSDocs from '../_data/custom-elements-jsdocs.json';
import Footer from '../components/Footer.astro';
import WebComponentCard from '../components/WebComponentCard.astro';
const title = 'Overview';
const description = 'The overview page is the first page you see when you visit the components section of the website. It shows all the components that are available to use in the Goat UI library. It also shows the components that are coming soon.';
---


<Layout title={title} description={description} classes='surface'>

  <div class='main-content'>
    <div class='page-wrapper'>
      <wc-container size='max' class='section'>


        <div class='comp-header'>
          <h1 class='comp-title text-display heading-scrollable'>{title}</h1>
        </div>


        <div id='search-container'>
          <wc-search id='component-search' layer='01' placeholder='Search'>
          </wc-search>
        </div>


        <div class='cards'>
          {
            customElementsJSDocs.map((component) => {
              if (component.parentRawTag) {
                return;
              }
              return <WebComponentCard component={component}></WebComponentCard>
            })
          }
        </div>

        <script is:inline src='/assets/js/components.page.js'></script>
      </wc-container>

    </div>

    <Footer />

  </div>


</Layout>
