---
---
<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width'>
  <title>GOAT UI</title>

  <script type="module" src="/assets/peacock/peacock-loader.js"></script>

</head>

<body>

<p-icon></p-icon>


</body>

</html>
