@use '../../scss/mixin';

@include mixin.base-styles;


.tabs {
  display: flex;
  position: relative;
  width: 100%;
  height: var(--tabs-height);
}

:host([variant='primary']) {
  --tabs-height: 4rem;
  
  .tabs {
    border-bottom: 1px solid var(--color-surface-variant);
  }
}

:host([variant='secondary']) {
  --tabs-height: 3rem;

  .tabs {
    border-bottom: 1px solid var(--color-surface-variant);
  }
}

