---
interface Props {
  sections: any;
  title?: string;
}

const { sections, title } = Astro.props;
---

<div class="section-nav">
  <div class="section-nav-content">

    <p class="text-body-large">On this page</p>
    <h2 class="text-headline">{title}</h2>
    <ul class="section-nav-links">
      {
        sections.map((section: any) => {
          const sectionValue = section.title.toLowerCase().replaceAll(' ', '-').replaceAll('/', '-');
          return <li><wc-link href={`#section-${sectionValue}`}>{section.title}</wc-link></li>
        })
      }
    </ul>

    <style>
      .section-nav-links {
        list-style: disc;
        padding-inline-start: 1.25rem;
      }
      .section-nav-links li {
        margin-block: 0.5rem;
      }
    </style>

    <ins class="adsbygoogle" data-ad-client="ca-pub-3120721550776061" data-ad-slot="1398164690" data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
      const interval = window.setInterval(() => {
        if (window.document.documentElement.classList.contains('hydrated') || true) {
          window.clearInterval(interval);

          setTimeout(function () {
            const script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3120721550776061';
            script.crossOrigin = 'anonymous';
            script.async = true;
            document.body.appendChild(script);
          }, 800);
        }
      }, 300);
    </script>
  </div>
</div>
