---
interface Props {
  lang: any;
  alignStart?: boolean,
  cssClasses?: string,
}

let { lang, inline } = Astro.props;

let html = '';
if (Astro.slots.has('default')) {
  html = await Astro.slots.render('default');
  html = html.replaceAll('<', '&lt;');
  html = html.replaceAll('<script>', '&lt;script&gt;').replaceAll('</script>', '&lt;/script&gt;');
}
let cssClasses = '';
if (inline) {
  cssClasses = 'inline';
}
---
<style>
  .demo-card {
    container: democardcontainer / inline-size;
    margin-bottom: var(--spacing-200);

    .demo-area {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 10rem;
      gap: var(--spacing-200);
      background: var(--color-surface);
      padding: var(--spacing-200);
      border-bottom: 1px solid var(--color-outline-variant);
    }

    .demo-area.inline {
      flex-direction: row;
    }

    .demo-component-divider {
      --divider-spacing: 0;
    }
  }

  @container democardcontainer (max-width: 691px) {
    .demo-card {
      .demo-area {
        flex-direction: column !important;
      }
    }
  }
</style>
<wc-card variant="outlined" class='demo-card'>
  <wc-card-content class={'demo-area ' + cssClasses}>
    <slot></slot>
  </wc-card-content>
  <div class='body'>
    <wc-code-highlighter language={lang}>
      <pre><code><Fragment set:html={html} /></code></pre>
    </wc-code-highlighter>
  </div>
</wc-card>
