---
import OnThisPageNavigation from './OnThisPageNavigation.astro';
interface Props {
  sections: any;
  title?: string;
}

const { sections, title } = Astro.props;
---
<div class='component-overview-tab'>
  <div class='component-content'>

    {
      sections.map((section) => (
        <div id={`section-${section.title.toLowerCase().replaceAll(" ", "-").replaceAll("/", "-")}`}
             class='component-section'>
          <h3 class='heading-scrollable text-headline-large'>{section.title}</h3>

          <section.Component/>
        </div>))
    }
  </div>
  <OnThisPageNavigation sections={sections.map(function(section: any){return section?.title;})} title={title} />
</div>
