---
import ComponentSectionNav from './ComponentSectionNav.astro';
interface Props {
  componentDetails: any;
  sections: any;
}

const { componentDetails, sections } = Astro.props;
---
<div class='component-overview-tab'>
  <div class='component-content'>
    
    {
      sections.map((section) => (
        <div id={`section-${section.title.toLowerCase().replaceAll(" ", "-").replaceAll("/", "-")}`}
             class='component-section'>
          <h3 class='heading-scrollable p-text-headline'>{section.title}</h3>

          <section.Component/>
        </div>))
    }
  </div>
  <ComponentSectionNav sections={sections} />
</div>
