---
import ComponentSectionNav from './ComponentSectionNav.astro';
interface Props {
  componentDetails: any;
  sections: any;
}

const { componentDetails, sections } = Astro.props;
---
<div class='component-overview-tab'>
  <div class='component-content'>
    <div class='component-description'>
      <p class='pc-text-body-emphasized' set:html={componentDetails.metadata.overview ? componentDetails.metadata.overview : componentDetails.metadata.description}></p>
    </div>
    {
      sections.map((section) => (
        <div id={`section-${section.title.toLowerCase().replaceAll(" ", "-").replaceAll("/", "-")}`}
             class='component-section'>
          <h3 class='heading-scrollable pc-text-headline'>{section.title}</h3>

          <section.Component/>
        </div>))
    }
  </div>
  <ComponentSectionNav sections={sections} />
</div>
