---
---

<style lang="scss">
  .side-navigation {
    padding-top: 1.5rem;
    width: 5.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    --icon-size: 1.75rem;
    height: 100%;

    .search-button {
      margin-bottom: 1.5rem;
      --button-container-shape: var(--shape-corner-large);
    }

    .nav-item {
      margin-bottom: 1rem;
      cursor: pointer;
    }

    .home img {
      width: 2rem;
    }

    .nav-item .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 2rem;
    }

    .nav-item:hover .icon {
      background: var(--color-secondary-container);
      border-radius: var(--shape-corner-full);
    }

    .push-bottom {
      margin-top: auto;
    }

    .theme-switcher {
      margin-bottom: 1.5rem;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
    }
  }
</style>

<nav class="side-navigation surface-dim">

  <icon-button name="search"
                 href="#"
                 size='md'
                 id="search-btn"
                 class='search-button'
                 aria-label='Search components'>
  </icon-button>

  <a class="link inherit nav-item home" href="/#" title='Go to Home'>
    <div class="item">
      <div class='icon'>
        <img src="/assets/img/logo-plain.png" class="logo" alt="peacock">
      </div>
      <span class='text-label'>Home</span>
    </div>
  </a>

  <a class="link inherit nav-item components" href='/components' title='Go to Components'>
    <div class="item">
      <base-icon class="icon" name="settings"></base-icon>
      <span class='text-label'>Components</span>
    </div>
  </a>

  <a class="link inherit nav-item color" href='/color' title='Go to Colors'>
    <div class="item">
      <base-icon class="icon" name="palette"></base-icon>
      <span class='text-label'>Colors</span>
    </div>
  </a>

  <a class="link inherit nav-item typography" href='/components/text' title='Go to Typography'>
    <div class="item">
      <base-icon class="icon" name="font_download"></base-icon>
      <span class='text-label'>Typography</span>
    </div>
  </a>

  <div class='push-bottom'/>

  <div class="link inherit nav-item dir-switcher" role='button' title='Toggle ltr/rtl direction'>
    <div class="item">
      <base-icon class="icon"></base-icon>
    </div>
  </div>

  <div class="link inherit nav-item theme-switcher" role='button' title="Toggle light/dark mode">
    <div class="item">
      <base-icon class="icon"></base-icon>
    </div>
  </div>

</nav>
