---
const pathname = Astro.url.pathname;

const isTypographyPage = pathname === '/components/text';
const isComponentsPage =
  pathname === '/components' ||
  (pathname.startsWith('/components/') && !isTypographyPage);
const isColorsPage = pathname === '/color';
const isHomePage = pathname === '/';
---

<style lang="scss">
  .side-navigation {
    height: 100%;
    width: 90px;
    

    .navigation-rail {
      position: fixed;
      --nav-rail-width: 90px;
      

      --nav-rail-container-color: var(--color-surface-dim);
    }

    #search-btn {
padding-top: 1rem;
    }
  }
</style>

<nav class="side-navigation">

  <wc-navigation-rail class="navigation-rail">
  
  <wc-fab slot="header" id="search-btn" href="#"
          lowered
          color="primary"
          aria-label='Search components'
    ><wc-icon name="search"></wc-icon
  ></wc-fab>

  <wc-navigation-rail-item href="/#" title='Go to Home' active={isHomePage ? true : null}>
    <img src="/assets/img/logo-plain.webp" slot="icon" class="logo" alt="peacock" style="width: 32px;">
    Home
  </wc-navigation-rail-item>
  <wc-navigation-rail-item href='/components' title='Go to Components' active={isComponentsPage ? true : null}>
    <wc-icon slot="icon" name="settings"></wc-icon>
    Components
  </wc-navigation-rail-item>
  <wc-navigation-rail-item href='/color' title='Go to Colors' active={isColorsPage ? true : null}>
    <wc-icon slot="icon" name="palette"></wc-icon>
    Colors
  </wc-navigation-rail-item>
  <wc-navigation-rail-item href='/components/text' title='Go to Typography' active={isTypographyPage ? true : null}>
    <wc-icon slot="icon" name="font_download"></wc-icon>
    Typography
  </wc-navigation-rail-item>


  <wc-navigation-rail-item slot="footer" class="dir-switcher" title='Toggle ltr/rtl direction'>
    <wc-icon slot="icon" class="icon"></wc-icon>
  </wc-navigation-rail-item>

   <wc-navigation-rail-item slot="footer" class="theme-switcher" title='Toggle light/dark mode'>
    <wc-icon slot="icon" class="icon"></wc-icon>
  </wc-navigation-rail-item>
</wc-navigation-rail>


 
</nav>
