---
import { getCodeBlock, getTextTag } from '../_data/getLitComponentDetails.ts';
interface Props {
  component: any;
}

const {component} = Astro.props;
---

{ component &&
<div class='card-wrapper' data-category={getTextTag(component, '@rawTag')}>
  <pc-card shadow-level='md' class='card'>
    <pc-card-content class='header card-header' data-tag={getTextTag(component, '@rawTag')}>

      <Fragment set:html={getCodeBlock(component, '@example')} />
     <!-- {
        declaration.example
          ? <Fragment set:html={declaration.example} />
          : <goat-image src={component.img} dark-src={component.imgDark}/>
      }-->
    </pc-card-content>

    <pc-card-content class='body'>

      <h3 class='component-title text-headline-small' >{getTextTag(component, '@label')}</h3>


      <p class='text-body component-description'>{getTextTag(component, '@summary')}</p>


      <p-button size='sm' color='dark' dark-mode-color="white" href={`/components/${getTextTag(component, '@rawTag')}/#`}  icon="arrow--right">Read more</p-button>
    </pc-card-content>
  </pc-card>
</div>}
