---
import { getMarkdown, getTextTag } from '../_data/getLitComponentDetails.ts';
interface Props {
  component: any;
}

const {component} = Astro.props;
---


<style>
  .component-card {
    height: 100%;
  }

  .component-card-header {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14rem;
    background: var(--color-surface);
    overflow: hidden;
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--color-outline-variant);

    .component-image {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .component-card-body {
    .component-card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
    }

    .link-icon {
      --icon-size: 1.5rem;
    }
  }

</style>


{ component &&
  
  <wc-card class='component-card' href={`/components/${getTextTag(component, 'rawTag')}/#`}>
    <div class='component-card-header'>

      <Fragment set:html={getMarkdown(component, 'example')} />
     <!-- {
        declaration.example
          ? <Fragment set:html={declaration.example} />
          : <wc-image class="component-image" src={component.img} dark-src={component.imgDark}/>
      }-->
    </div>

    <wc-card-content class='component-card-body'>
      <h3 class='component-card-title text-headline-small' >
        {getTextTag(component, 'label')}

        <wc-icon class="link-icon" name="arrow_outward"></wc-icon>
      </h3>
      <p class='text-body'>{getTextTag(component, 'summary')}</p>
    </wc-card-content>
  </wc-card>
 }
