---
import { getMarkdown, getTextTag } from '../_data/getLitComponentDetails.ts';
interface Props {
  component: any;
}

const {component} = Astro.props;
---

{ component &&
<div class='card-wrapper' data-category={getTextTag(component, 'rawTag')}>
  <wc-card variant="outlined" class='card' href={`/components/${getTextTag(component, 'rawTag')}/#`}>
    <pc-card-content class='header card-header'>

      <Fragment set:html={getMarkdown(component, 'example')} />
     <!-- {
        declaration.example
          ? <Fragment set:html={declaration.example} />
          : <wc-image src={component.img} dark-src={component.imgDark}/>
      }-->
    </pc-card-content>

    <pc-card-content class='body'>
      <h3 class='component-title text-headline-small' >{getTextTag(component, 'label')}</h3>
      <p class='text-body component-description'>{getTextTag(component, 'summary')}</p>
    </pc-card-content>
  </wc-card>
</div>}
