@use "../../scss/mixin";
@use "sass:string";

@include mixin.base-styles;

.tooltip {
  display: inline-block;
  @include mixin.get-typography(body-small);
  max-width: 17.5rem;
  padding-inline: var(--spacing-100);
  padding-block: var(--spacing-050);
  color: var(--color-inverse-on-surface);
  background-color: var(--color-inverse-surface);
  border-radius: var(--shape-corner-extra-small);
}

.tooltip-link {
  border-bottom: 1px dashed var(--color-on-surface);
}
