

$common: (
  border-radius: 3px,

  global-shape-corner-full: 9999px,
  global-shape-corner-large: 12px,
  global-shape-corner-medium: 8px,
  global-shape-corner-small: 4px,
  global-shape-corner-none: 0px,

  /**
   * TIP: use against position:relative elements
   */
  z-index-button: 0,
  z-index-badge: 20,
  z-index-table-header: 30,
  z-index-dropdown-content: 40,
  z-index-notification-manager: 100,
  z-index-modal: 2000,
  z-index-tooltip: 3000,
  scrollbar-width: 0.75rem
);

$common-css-variables: ();
@each $key, $value in $common {
  $map: ();
  $map: map-merge($map, ("--"+$key: $value));
  $common-css-variables: map-merge($common-css-variables, $map);
}
