@use "sass:map";
@use "sass:list";

/*
 * There are two body styles for productive and expressive moments. Productive styles have a suffix of -01 and expressive styles have a suffix of -02
 */
$font-styles: (
  // Utility font styles
  code-01: (
    font-family: var(--font-family-monospace),
    font-size: .75rem,
    line-height: 1rem,
    weight: 400,
    letter-spacing: .32px
  ),
  code-02: (
    font-family: var(--font-family-monospace),
    font-size: .875rem,
    line-height: 1.25rem,
    weight: 400,
    letter-spacing: .32px
  ),
  label-01: (
    font-family: var(--font-family-sans),
    font-size: .75rem,
    line-height: 1rem,
    weight: 400,
    letter-spacing: .32px
  ),
  label-02: (
    font-family: var(--font-family-sans),
    font-size: .875rem,
    line-height: 1.125rem,
    weight: 400,
    letter-spacing: .16px
  ),
  helper-text-01: (
    font-family: var(--font-family-sans),
    font-size: .75rem,
    line-height: 1rem,
    weight: 400,
    letter-spacing: .32px
  ),
  helper-text-02: (
    font-family: var(--font-family-sans),
    font-size: .875rem,
    line-height: 1.125rem,
    weight: 400,
    letter-spacing: .16px
  ),
  legal-01: (
    font-family: var(--font-family-sans),
    font-size: .75rem,
    line-height: 1rem,
    weight: 400,
    letter-spacing: .32px
  ),
  legal-02: (
    font-family: var(--font-family-sans),
    font-size: .875rem,
    line-height: 1.125rem,
    weight: 400,
    letter-spacing: .16px
  ),
  // Body font styles
  body-01: (
    font-family: var(--font-family-sans),
    font-size: .875rem,
    line-height: 1.25rem,
    weight: 400,
    letter-spacing: .16px
  ),
  body-02: (
    font-family: var(--font-family-sans),
    font-size: 1rem,
    line-height: 1.5rem,
    weight: 400,
    letter-spacing: 0
  ),
  body-compact-01: (
    font-family: var(--font-family-sans),
    font-size: .875rem,
    line-height: 1.125rem,
    weight: 400,
    letter-spacing: .16px
  ),
  body-compact-02: (
    font-family: var(--font-family-sans),
    font-size: 1rem,
    line-height: 1.375rem,
    weight: 400,
    letter-spacing: 0
  ),
  // Heading font styles
  heading-compact-01: (
    font-family: var(--font-family-sans),
    font-size: .875rem,
    line-height: 1.125rem,
    weight: 600,
    letter-spacing: .16px
  ),
  heading-compact-02: (
    font-family: var(--font-family-sans),
    font-size: .875rem,
    line-height: 1.375rem,
    weight: 400,
    letter-spacing: 0
  ),
  heading-01: (
    font-family: var(--font-family-sans),
    font-size: .875rem,
    line-height: 1.25rem,
    weight: 600,
    letter-spacing: .16px
  ),
  heading-02: (
    font-family: var(--font-family-sans),
    font-size: 1rem,
    line-height: 1.5rem,
    weight: 600,
    letter-spacing: 0
  ),
  heading-03: (
    font-family: var(--font-family-sans),
    font-size: 1.25rem,
    line-height: 1.75rem,
    weight: 400,
    letter-spacing: 0
  ),
  heading-04: (
    font-family: var(--font-family-sans),
    font-size: 1.75rem,
    line-height: 2.25rem,
    weight: 400,
    letter-spacing: 0
  ),
  heading-05: (
    font-family: var(--font-family-sans),
    font-size: 2rem,
    line-height: 2.5rem,
    weight: 400,
    letter-spacing: 0
  ),
  heading-06: (
    font-family: var(--font-family-sans),
    font-size: 2.625rem,
    line-height: 3.125rem,
    weight: 300,
    letter-spacing: 0
  ),
  heading-07: (
    font-family: var(--font-family-sans),
    font-size: 3.375rem,
    line-height: 4rem,
    weight: 300,
    letter-spacing: 0
  ),
  fluid-heading-03-sm: (
    font-family: var(--font-family-sans),
    font-size: 1.25rem,
    line-height: 1.75rem,
    weight: 400,
    letter-spacing: 0
  ),
  fluid-heading-03-md: (
    font-family: var(--font-family-sans),
    font-size: 1.25rem,
    line-height: 1.75rem,
    weight: 400,
    letter-spacing: 0
  ),
  fluid-heading-03-lg: (
    font-family: var(--font-family-sans),
    font-size: 1.25rem,
    line-height: 1.75rem,
    weight: 400,
    letter-spacing: 0
  ),
  fluid-heading-03-xl: (
    font-family: var(--font-family-sans),
    font-size: 1.25rem,
    line-height: 1.75rem,
    weight: 400,
    letter-spacing: 0
  ),
  fluid-heading-03-max: (
    font-family: var(--font-family-sans),
    font-size: 1.5rem,
    line-height: 1.75rem,
    weight: 400,
    letter-spacing: 0
  ),
  fluid-heading-04-sm: (
    font-family: var(--font-family-sans),
    font-size: 1.75rem,
    line-height: 2.25rem,
    weight: 400,
    letter-spacing: 0
  ),
  fluid-heading-04-md: (
    font-family: var(--font-family-sans),
    font-size: 1.75rem,
    line-height: 2.25rem,
    weight: 400,
    letter-spacing: 0
  ),
  fluid-heading-04-lg: (
    font-family: var(--font-family-sans),
    font-size: 1.75rem,
    line-height: 2.25rem,
    weight: 400,
    letter-spacing: 0
  ),
  fluid-heading-04-xl: (
    font-family: var(--font-family-sans),
    font-size: 2rem,
    line-height: 2.5rem,
    weight: 400,
    letter-spacing: 0
  ),
  fluid-heading-04-max: (
    font-family: var(--font-family-sans),
    font-size: 2rem,
    line-height: 2.5rem,
    weight: 400,
    letter-spacing: 0
  ),
  fluid-heading-05-sm: (
    font-family: var(--font-family-sans),
    font-size: 2rem,
    line-height: 2.5rem,
    weight: 400,
    letter-spacing: 0
  ),
  fluid-heading-05-md: (
    font-family: var(--font-family-sans),
    font-size: 2.25rem,
    line-height: 2.75rem,
    weight: 300,
    letter-spacing: 0
  ),
  fluid-heading-05-lg: (
    font-family: var(--font-family-sans),
    font-size: 2.625rem,
    line-height: 3.125rem,
    weight: 400,
    letter-spacing: 0
  ),
  fluid-heading-05-xl: (
    font-family: var(--font-family-sans),
    font-size: 3rem,
    line-height: 3.5rem,
    weight: 400,
    letter-spacing: 0
  ),
  fluid-heading-05-max: (
    font-family: var(--font-family-sans),
    font-size: 3.75rem,
    line-height: 4.375rem,
    weight: 400,
    letter-spacing: 0
  ),
  fluid-heading-06-sm: (
    font-family: var(--font-family-sans),
    font-size: 2rem,
    line-height: 2.5rem,
    weight: 600,
    letter-spacing: 0
  ),
  fluid-heading-06-md: (
    font-family: var(--font-family-sans),
    font-size: 2.25rem,
    line-height: 2.75rem,
    weight: 600,
    letter-spacing: 0
  ),
  fluid-heading-06-lg: (
    font-family: var(--font-family-sans),
    font-size: 2.625rem,
    line-height: 3.125rem,
    weight: 600,
    letter-spacing: 0
  ),
  fluid-heading-06-xl: (
    font-family: var(--font-family-sans),
    font-size: 3rem,
    line-height: 3.5rem,
    weight: 600,
    letter-spacing: 0
  ),
  fluid-heading-06-max: (
    font-family: var(--font-family-sans),
    font-size: 3.75rem,
    line-height: 4.375rem,
    weight: 600,
    letter-spacing: 0
  ),
);

$typography-css-variables: ();

$typography-css-variables: map-merge($typography-css-variables, ("--font-family-base": var(--font-family-sans)
));

@each $key, $value in $font-styles {
  $map: ();
  $map: map-merge($map, ("--"+$key+"-font-family": #{map.get($value, "font-family")}));
  $map: map-merge($map, ("--"+$key+"-font-size": #{map.get($value, "font-size")}));
  $map: map-merge($map, ("--"+$key+"-line-height": #{map.get($value, "line-height")}));
  $map: map-merge($map, ("--"+$key+"-font-weight": #{map.get($value, "weight")}));
  $map: map-merge($map, ("--"+$key+"-letter-spacing": #{map.get($value, "letter-spacing")}));
  $typography-css-variables: map-merge($typography-css-variables, $map);
}
