:host([size='xs']),
:host([size='extra-small']) {
  --split-button-icon-size: 1rem;
}


:host([size='sm']),
:host([size='small']) {
  --split-button-icon-size: 1.125rem;
}


:host([size='md']),
:host([size='medium']) {
  --split-button-icon-size: 1.25rem;
}


:host([size='lg']),
:host([size='large']) {
  --split-button-icon-size: 1.5rem;
}


:host([size='xl']),
:host([size='extra-large']) {
  --split-button-icon-size: 2rem;
}
