:host {
  --skeleton-background: var(--color-surface-container);
  --skeleton-element: var(--color-on-surface);
  display: inline-block;
  height: 3rem;
  width: 10rem;
}

.skeleton {
  position: relative;
  padding: 0;
  border: none;
  background:  var(--skeleton-background);
  box-shadow: none;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-start-start-radius: var(--skeleton-shape-start-start);
  border-start-end-radius: var(--skeleton-shape-start-end);
  border-end-start-radius: var(--skeleton-shape-end-start);
  border-end-end-radius: var(--skeleton-shape-end-end);

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    animation: 3s ease-in-out skeleton infinite;
    background:  var(--skeleton-element);
    block-size: 100%;
    content: "";
    inline-size: 100%;
    will-change: transform-origin, transform, opacity;

    border-start-start-radius: var(--skeleton-shape-start-start);
    border-start-end-radius: var(--skeleton-shape-start-end);
    border-end-start-radius: var(--skeleton-shape-end-start);
    border-end-end-radius: var(--skeleton-shape-end-end);
  }
}



@keyframes skeleton {
  0% {
    opacity: .3;
    transform: scaleX(0);
    transform-origin: left
  }

  20% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left
  }

  28% {
    transform: scaleX(1);
    transform-origin: right
  }

  51% {
    transform: scaleX(0);
    transform-origin: right
  }

  58% {
    transform: scaleX(0);
    transform-origin: right
  }

  82% {
    transform: scaleX(1);
    transform-origin: right
  }

  83% {
    transform: scaleX(1);
    transform-origin: left
  }

  96% {
    transform: scaleX(0);
    transform-origin: left
  }

  100% {
    opacity: .3;
    transform: scaleX(0);
    transform-origin: left
  }
}
