@use '../../../scss/mixin';

@include mixin.base-styles;

:host {
  outline: none;

  --menu-item-container-shape-start-start: var(--shape-corner-extra-small);
  --menu-item-container-shape-start-end: var(--shape-corner-extra-small);
  --menu-item-container-shape-end-start: var(--shape-corner-extra-small);
  --menu-item-container-shape-end-end: var(--shape-corner-extra-small);
}

.menu-item {
  width: 100%;
  --item-padding-inline: 10px;
  --item-container-shape-start-start: var(
    --menu-item-container-shape-start-start
  );
  --item-container-shape-start-end: var(--menu-item-container-shape-start-end);
  --item-container-shape-end-start: var(--menu-item-container-shape-end-start);
  --item-container-shape-end-end: var(--menu-item-container-shape-end-end);
  --item-container-shape-variant: none;

  --item-label-font-family: var(--typography-label-large-font-family);
  --item-label-font-size: var(--typography-label-large-font-size);
  --item-label-font-weight: var(--typography-label-large-font-weight);
  --item-label-line-height: var(--typography-label-large-line-height);
  --item-label-letter-spacing: var(--typography-label-large-letter-spacing);

  --item-label-text-color: var(--menu-item-label-color);
  --item-leading-trailing-color: var(--menu-item-label-color);
  --item-supporting-text-color: var(--menu-item-label-color);
  --item-container-selected-color: var(--menu-item-container-selected-color);
  --item-label-text-selected-color: var(--menu-item-label-selected-color);
  --item-icon-size: var(--button-icon-size, var(--_button-icon-size));

  .background {
    background-color: var(--_container-color);
    opacity: var(--_container-opacity, 1);
    border-radius: var(--shape-corner-medium);
  }

  .focus-ring {
    --focus-ring-container-shape-start-start: var(--shape-corner-medium);
    --focus-ring-container-shape-start-end: var(--shape-corner-medium);
    --focus-ring-container-shape-end-start: var(--shape-corner-medium);
    --focus-ring-container-shape-end-end: var(--shape-corner-medium);
    z-index: 2;
    --focus-ring-inset: 0px;
  }

  .ripple {
    --ripple-state-opacity: var(--_container-state-opacity, 0);
    --ripple-pressed-color: var(--_container-state-color);
    border-radius: var(--shape-corner-medium);
  }

  .skeleton {
    z-index: 2;

    --skeleton-container-shape-start-start: var(--shape-corner-medium);
    --skeleton-container-shape-start-end: var(--shape-corner-medium);
    --skeleton-container-shape-end-start: var(--shape-corner-medium);
    --skeleton-container-shape-end-end: var(--shape-corner-medium);
  }
}

:host([selected]) {
  --menu-item-container-shape-start-start: var(--shape-corner-large);
  --menu-item-container-shape-start-end: var(--shape-corner-large);
  --menu-item-container-shape-end-start: var(--shape-corner-large);
  --menu-item-container-shape-end-end: var(--shape-corner-large);
}
