@use "../../../scss/mixin";

@include mixin.base-styles;

:host {
  padding-inline: var(--spacing-050);
}

.menu-item {
  position: relative;
  height: 3rem;
  display: flex;
  align-items: center;
  padding-inline: 0.75rem;
  outline: 0;

  @include mixin.get-typography(label-large);

  .menu-item-content {
    display: flex;
    align-items: center;
    z-index: 1;
    width: 100%;
    gap: var(--spacing-100);

    color: var(--_label-text-color);
    opacity: var(--_label-text-opacity, 1);
    --icon-size: var(--button-icon-size, var(--_button-icon-size));
    --icon-color: var(--_label-text-color);

    .slot-container {
      flex: 1;
    }
  }


  .background {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--_container-color);
    opacity: var(--_container-opacity, 1);

    border-start-start-radius: var(--_container-shape-start-start);
    border-start-end-radius: var(--_container-shape-start-end);
    border-end-start-radius: var(--_container-shape-end-start);
    border-end-end-radius: var(--_container-shape-end-end);
    corner-shape: var(--_container-corner-shape-variant);
    pointer-events: none;
  }

   /*
    Background layers
   */
  .focus-ring {
    z-index: 2;
    --focus-ring-container-shape-start-start: var(--_container-shape-start-start);
    --focus-ring-container-shape-start-end: var(--_container-shape-start-end);
    --focus-ring-container-shape-end-start: var(--_container-shape-end-start);
    --focus-ring-container-shape-end-end: var(--_container-shape-end-end);
    --focus-ring-container-shape-variant: var(--_container-corner-shape-variant);
  }

  .ripple {
    --ripple-state-opacity: var(--_container-state-opacity, 0);
    --ripple-pressed-color: var(--_container-state-color);
    border-start-start-radius: var(--_container-shape-start-start);
    border-start-end-radius: var(--_container-shape-start-end);
    border-end-start-radius: var(--_container-shape-end-start);
    border-end-end-radius: var(--_container-shape-end-end);
    corner-shape: var(--_container-corner-shape-variant);
  }
}


.menu-item {

  --_container-shape-start-start: var(--menu-item-container-shape-start-start, var(--shape-corner-extra-small));
  --_container-shape-start-end: var(--menu-item-container-shape-start-end, var(--shape-corner-extra-small));
  --_container-shape-end-start: var(--menu-item-container-shape-end-start, var(--shape-corner-extra-small));
  --_container-shape-end-end: var(--menu-item-container-shape-end-end, var(--shape-corner-extra-small));
  --_container-corner-shape-variant: none;
  --_label-text-color: var(--menu-item-label-color);
  --_container-state-color: var(--_label-text-color);

  &:hover:not(:where(.disabled, .selected)) {
    --_container-state-opacity: 0.08;
  }

  &.selected {
    --_container-color: var(--menu-item-container-selected-color);
    --_label-text-color: var(--menu-item-label-selected-color);
    --_container-shape-start-start: var(--menu-item-container-shape-start-start, var(--shape-corner-large));
    --_container-shape-start-end: var(--menu-item-container-shape-start-end, var(--shape-corner-large));
    --_container-shape-end-start: var(--menu-item-container-shape-end-start, var(--shape-corner-large));
    --_container-shape-end-end: var(--menu-item-container-shape-end-end, var(--shape-corner-large));
    --_container-corner-shape-variant: none;
  }

  &.disabled {
    cursor: not-allowed;
    --_container-color: var(--color-on-surface);
    --_container-opacity: 0.1;
    --_label-text-color: var(--color-on-surface);
    --_label-text-opacity: 0.38;

    .ripple {
      display: none;
    }
  }
}
