@use '../../../scss/mixin';

@include mixin.base-styles;

:host {
  outline: none;
  position: relative;

  --menu-item-backdrop-container-shape-start-start: none;
  --menu-item-backdrop-container-shape-start-end: none;
  --menu-item-backdrop-container-shape-end-start: none;
  --menu-item-backdrop-container-shape-end-end: none;

  --menu-item-backdrop-elevation-level-block-start: none;
  --menu-item-backdrop-elevation-level-block-end: none;
}

/*
  * Reset native button/link styles
  */
.native-button {
  @include mixin.reset-button-styles;
}
.native-link {
  @include mixin.reset-link-styles;
}

.menu-item {
  position: relative;
  width: 100%;
  text-align: start;
  padding-top: 2px;
  padding-inline: var(--spacing-050);

  .menu-item-backdrop-background {
    background-color: var(--menu-item-container-color);
    position: absolute;
    inset: 0px;
    border-start-start-radius: var(
      --menu-item-backdrop-container-shape-start-start
    );
    border-start-end-radius: var(
      --menu-item-backdrop-container-shape-start-end
    );
    border-end-start-radius: var(
      --menu-item-backdrop-container-shape-end-start
    );
    border-end-end-radius: var(--menu-item-backdrop-container-shape-end-end);
  }

  .menu-item-backdrop-elevation {
    --elevation-container-shape-start-start: var(
      --menu-item-backdrop-container-shape-start-start
    );
    --elevation-container-shape-start-end: var(
      --menu-item-backdrop-container-shape-start-end
    );
    --elevation-container-shape-end-start: var(
      --menu-item-backdrop-container-shape-end-start
    );
    --elevation-container-shape-end-end: var(
      --menu-item-backdrop-container-shape-end-end
    );

    --elevation-level-block-start: var(
      --menu-item-backdrop-elevation-level-block-start
    );
    --elevation-level-block-end: var(
      --menu-item-backdrop-elevation-level-block-end
    );
    --elevation-level-inline-start: var(
      --menu-item-backdrop-elevation-level-inline-start,
      1
    );
    --elevation-level-inline-end: var(
      --menu-item-backdrop-elevation-level-inline-end,
      1
    );
  }

  .menu-item-content {
    --item-height: 1.5rem;
    --item-multiline-height: 3rem;
    --item-padding-inline: 10px;
    --item-container-shape-start-start: var(
      --menu-item-container-shape-start-start
    );
    --item-container-shape-start-end: var(
      --menu-item-container-shape-start-end
    );
    --item-container-shape-end-start: var(
      --menu-item-container-shape-end-start
    );
    --item-container-shape-end-end: var(--menu-item-container-shape-end-end);
    --item-container-shape-variant: none;

    --item-label-font-family: var(--typography-label-large-font-family);
    --item-label-font-size: var(--typography-label-large-font-size);
    --item-label-font-weight: var(--typography-label-large-font-weight);
    --item-label-line-height: var(--typography-label-large-line-height);
    --item-label-letter-spacing: var(--typography-label-large-letter-spacing);

    --item-label-text-color: var(--private-item-label-text-color);
    --item-leading-trailing-color: var(--private-item-label-text-color);
    --item-supporting-text-color: var(--private-item-label-text-color);
    --item-icon-size: var(--menu-item-icon-size, var(--private-item-icon-size));

    .background {
      background-color: var(--private-item-container-color);
      opacity: var(--_container-opacity, 1);
      border-radius: var(--shape-corner-medium);

      border-start-start-radius: var(
        --private-item-container-shape-start-start
      );
      border-start-end-radius: var(--private-item-container-shape-start-end);
      border-end-start-radius: var(--private-item-container-shape-end-start);
      border-end-end-radius: var(--private-item-container-shape-end-end);
    }

    .focus-ring {
      --focus-ring-container-shape-start-start: var(
        --private-item-container-shape-start-start
      );
      --focus-ring-container-shape-start-end: var(
        --private-item-container-shape-start-start
      );
      --focus-ring-container-shape-end-start: var(
        --private-item-container-shape-start-start
      );
      --focus-ring-container-shape-end-end: var(
        --private-item-container-shape-start-start
      );
      z-index: 2;
      --focus-ring-inset: 0px;
    }

    .ripple {
      --ripple-state-opacity: var(--_container-state-opacity, 0);
      --ripple-pressed-color: var(--_container-state-color);
      border-radius: var(--shape-corner-medium);
    }

    .skeleton {
      z-index: 2;

      --skeleton-container-shape-start-start: var(
        --private-item-container-shape-start-start
      );
      --skeleton-container-shape-start-end: var(
        --private-item-container-shape-start-end
      );
      --skeleton-container-shape-end-start: var(
        --private-item-container-shape-end-start
      );
      --skeleton-container-shape-end-end: var(
        --private-item-container-shape-end-end
      );
    }
  }
}

:host {
  --private-item-container-color: var(--menu-item-container-color);
  --private-item-label-text-color: var(--menu-item-label-color);
  --private-item-container-shape-start-start: var(--shape-corner-medium);
  --private-item-container-shape-start-end: var(--shape-corner-medium);
  --private-item-container-shape-end-start: var(--shape-corner-medium);
  --private-item-container-shape-end-end: var(--shape-corner-medium);
}

:host([selected]) {
  --private-item-container-color: var(--menu-item-container-selected-color);
  --private-item-label-text-color: var(--menu-item-label-selected-color);
  --private-item-container-shape-start-start: var(--shape-corner-large);
  --private-item-container-shape-start-end: var(--shape-corner-large);
  --private-item-container-shape-end-start: var(--shape-corner-large);
  --private-item-container-shape-end-end: var(--shape-corner-large);
}

:host([disabled]),
:host([soft-disabled]) {
  cursor: not-allowed;
  --private-item-label-text-color: var(--color-on-surface);
  --_container-opacity: 0.12;

  .ripple {
    display: none;
  }
}

:host-context([variant='standard']) {
  --menu-item-container-color: var(--color-surface-container);
}

:host-context([variant='vibrant']) {
  --menu-item-container-color: var(--color-tertiary-container);
}
