---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---

<p>Here are several predefined checkbox styles, each serving its own semantic purpose.</p>
<style is:inline>
  .container-horizontal {
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem;
    width: 200px;
    border: 1px solid var(--color-outline);
  }
</style>

<HighlighterCard lang={'html'}>
  <div class='container-horizontal'>
    <p>Content A</p>
    <pc-divider></pc-divider>
    <p>Content B</p>
  </div>

  <div class='container-horizontal'>
    <p>Content A</p>
    <pc-divider> or</pc-divider>
    <p>Content B</p>
  </div>
</HighlighterCard>

<style is:inline>
  .container-vertical {
    display: flex;
    height: 150px;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 250px;
    border: 1px solid var(--color-outline);
  }

  .container-vertical p {
    display: flex;
    align-items: center;
  }
</style>

<HighlighterCard lang={'html'}>
  <div class='container-vertical'>
    <p>Content A</p>
    <pc-divider vertical></pc-divider>
    <p>Content B</p>
  </div>

  <div class='container-vertical'>
    <p>Content A</p>
    <pc-divider vertical> or</pc-divider>
    <p>Content B</p>
  </div>
</HighlighterCard>
