---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'> Here are several predefined button styles, each serving its own semantic purpose.</p>


<style>
  .demo-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-300);
  }
</style>

<DemoComponentCard lang={'html'}>

  <div class="demo-stack">
  <wc-button-group variant='connected'>
    <wc-icon-button toggle selected><wc-icon name='home'></wc-icon></wc-icon-button>
    <wc-icon-button toggle><wc-icon name='alarm'></wc-icon></wc-icon-button>
    <wc-icon-button toggle><wc-icon name='box'></wc-icon></wc-icon-button>
  </wc-button-group>

  <wc-button-group>
    <wc-icon-button><wc-icon name='home'></wc-icon></wc-icon-button>
    <wc-icon-button><wc-icon name='alarm'></wc-icon></wc-icon-button>
    <wc-icon-button><wc-icon name='box'></wc-icon></wc-icon-button>
  </wc-button-group>

  </div>
</DemoComponentCard>
