---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller input? Add size attribute for additional sizes.</p>
<HighlighterCard lang={'html'}>
  <pc-input-url size='lg' placeholder='Large'></pc-input-url>
  <pc-input-url placeholder='Medium'></pc-input-url>
  <pc-input-url size='sm' placeholder='Small'></pc-input-url>
</HighlighterCard>
