---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<p class='text-body-large'>Here are different types of inputs.</p>

<HighlighterCard lang={'html'} cssClasses='demo-input'>
  <pc-input-url
              required
              clearable
              value="https://shivajivarma.com"
              label='Text input label'
              helper-text='Optional help text'
              placeholder='Optional placeholder text'
  ></pc-input-url>

</HighlighterCard>
