---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller icons? Add size attribute for additional sizes.</p>

<HighlighterCard lang={'html'}>
  <pc-svg src='https://icons.getbootstrap.com/assets/icons/bug.svg'></pc-svg>
</HighlighterCard>
