---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Buttons come in different colors to indicate the action or the type of button. The
  following example shows the different colors available for the button component.
</p>

<DemoComponentCard lang={'html'}>

  <p-button color='primary'>Primary</p-button>
  <p-button color='success'>Success</p-button>
  <p-button color='danger'>Danger</p-button>
  <p-button color='light'>Light</p-button>
  <p-button color='dark'>Dark</p-button>

</DemoComponentCard>

<br/>
<p class='text-body-large'>Define custom colors</p>

<DemoComponentCard lang={'html'}>

  <!-- Custom color : give any name to css variable and use it as button color -->
  <style is:inline>
    .custom-button {
      --filled-button-container-color: var(--color-yellow-90);
      --filled-button-label-text-color: var(--color-black);
    }
  </style>

  <p-button class='custom-button'>Custom</p-button>

</DemoComponentCard>
