---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<pc-text type='body' expressive>Buttons come in different colors to indicate the action or the type of button. The
  following example shows the different colors available for the button component.
</pc-text>

<style is:inline>
  .color-dark-theme-bg {
    background: var(--color-primary-20);
    padding: 1rem;
  }
</style>
<HighlighterCard lang={'html'}>

  <!-- Custom color : give any name to css variable and use it as button color -->
  <style is:inline>
    .success {
      --filled-button-container-color: var(--color-success-500);

    }
    .danger {
      --filled-button-container-color: var(--color-danger-500);
    }
  </style>

  <div class='component-container'>
    <pc-button>Primary</pc-button>
    <pc-button class='success'>Success</pc-button>
    <pc-button class='danger'>Danger</pc-button>
  </div>



</HighlighterCard>
