---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang={'html'}>
<div class='component-container'>
  <pc-button icon="add--large"></pc-button>
  <pc-button icon="add--large">Add</pc-button>

  <pc-button icon-align='start'><pc-icon slot='icon' name='chevron_left'/> Previous</pc-button>
  <pc-button><pc-icon slot='icon' name='chevron_right'/> Next</pc-button>
</div>

<div class='component-container'>
  <pc-button variant="outlined"><pc-icon slot='icon' name='save'/></pc-button>
  <pc-button variant="text"><pc-icon slot='icon' name='save'/></pc-button>
</div>

<div class='component-container'>
  <pc-button size='xs'><pc-icon slot='icon' name='save'/></pc-button>
  <pc-button size='sm'><pc-icon slot='icon' name='save'/></pc-button>
  <pc-button size='md'><pc-icon slot='icon' name='save'/></pc-button>
  <pc-button size='lg'><pc-icon slot='icon' name='save'/></pc-button>
  <pc-button size='xl'><pc-icon slot='icon' name='save'/></pc-button>
</div>
</HighlighterCard>
