---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang={'html'}>
<div class='component-container'>
  <pc-button icon="add--large"></pc-button>
  <pc-button icon="add--large">Add</pc-button>

  <pc-button icon-align='start'><p-icon slot='icon' name='chevron_left'/> Previous</pc-button>
  <pc-button><p-icon slot='icon' name='chevron_right'/> Next</pc-button>
</div>

<div class='component-container'>
  <pc-button variant="outlined"><p-icon slot='icon' name='save'/></pc-button>
  <pc-button variant="text"><p-icon slot='icon' name='save'/></pc-button>
</div>

<div class='component-container'>
  <pc-button size='xs'><p-icon slot='icon' name='save'/></pc-button>
  <pc-button size='sm'><p-icon slot='icon' name='save'/></pc-button>
  <pc-button size='md'><p-icon slot='icon' name='save'/></pc-button>
  <pc-button size='lg'><p-icon slot='icon' name='save'/></pc-button>
  <pc-button size='xl'><p-icon slot='icon' name='save'/></pc-button>
</div>
</HighlighterCard>
