---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang={'html'}>
<div class='component-container'>
  <pc-button icon="add--large"></pc-button>
  <pc-button icon="add--large">Add</pc-button>

  <pc-button icon="chevron--left" icon-align='start'>Previous</pc-button>
  <pc-button icon="chevron--right">Next</pc-button>
</div>

<div class='component-container'>
  <pc-button icon="save" variant="outline"></pc-button>
  <pc-button icon="save" variant="text"></pc-button>
</div>

<div class='component-container'>
  <pc-button size='xs'><pc-icon slot='icon' name='save'></pc-icon></pc-button>
  <pc-button size='sm'><pc-icon slot='icon' name='save'></pc-icon></pc-button>
  <pc-button size='md'><pc-icon slot='icon' name='save'></pc-icon></pc-button>
  <pc-button size='lg'><pc-icon slot='icon' name='save'></pc-icon></pc-button>
  <pc-button size='xl'><pc-icon slot='icon' name='save'></pc-icon></pc-button>
</div>
</HighlighterCard>
