---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang={'html'}>
  <div class='component-container'>
    <pc-button kind='default'>Default long button</pc-button>
  </div>
  <div class='component-container'>
    <pc-button kind='simple'>Simple text button</pc-button>
  </div>
  <div class='component-container'>

  </div>
</HighlighterCard>
