---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller buttons? Add size attribute for additional sizes.</p>

<DemoComponentCard lang={'html'}>
  <base-button size='xs'>Extra small</base-button>
  <base-button>Small</base-button>
  <base-button size='md'>Medium</base-button>
  <base-button size='lg'>Large</base-button>
  <base-button size='xl'>Extra large</base-button>
</DemoComponentCard>
