---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller buttons? Add size attribute for additional sizes.</p>

<DemoComponentCard lang={'html'}>
  <wc-button size='xs'>Extra small</wc-button>
  <wc-button>Small</wc-button>
  <wc-button size='md'>Medium</wc-button>
  <wc-button size='lg'>Large</wc-button>
  <wc-button size='xl'>Extra large</wc-button>
</DemoComponentCard>
