---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-large'>Fancy larger or smaller buttons? Add size attribute for additional sizes.</p>

<DemoComponentCard lang={'html'}>
  <p-button size='xs'>Extra small</p-button>
  <p-button>Small</p-button>
  <p-button size='md'>Medium</p-button>
  <p-button size='lg'>Large</p-button>
  <p-button size='xl'>Extra large</p-button>
</DemoComponentCard>
