---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---

<pc-text expressive>Here are several predefined button styles, each serving its own semantic purpose.
</pc-text>

<pc-text expressive>Mix and match the `variant` and `sub-variant` to create a variety of buttons.</pc-text>
<pc-text>`"simple"` is a simple button without default padding at end.</pc-text>
<pc-text>`"block"` is a full-width button that spans the full width of its container.</pc-text>

<HighlighterCard lang={'html'}>

  <pc-button variant='elevated'>Elevated</pc-button>

  <pc-button>Filled / Default</pc-button>

  <pc-button variant='tonal'>Tonal</pc-button>

  <pc-button variant='outlined'>Outlined</pc-button>

  <pc-button variant='text'>Text</pc-button>

  <pc-button variant='neo'>Neo-Brutalism</pc-button>

  <br />
  <br />

  <div class='component-container'>
    <pc-button variant='light.simple'>Light & Simple</pc-button>
  </div>

  <div class='component-container'>
    <pc-button variant='block'>Default & Block</pc-button>
  </div>


</HighlighterCard>
