---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<p class='p-text-body-large'>Here are several predefined button styles, each serving its own semantic purpose.
</p>

<DemoComponentCard lang={'html'}>

  <pc-button variant='elevated'>Elevated</pc-button>

  <pc-button>Filled / Default</pc-button>

  <pc-button variant='tonal'>Tonal</pc-button>

  <pc-button variant='outlined'>Outlined</pc-button>

  <pc-button variant='text'>Text</pc-button>

  <pc-button variant='neo'>Neo-Brutalism</pc-button>
</DemoComponentCard>

<HighlighterCard lang={'html'}>
  <div class='component-container'>
    <pc-button style='width: 100%'>Block</pc-button>
  </div>
</HighlighterCard>

