---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<p class='text-body-large'>Here are several predefined button styles, each serving its own semantic purpose.</p>

<DemoComponentCard lang={'html'}>
  <base-button variant='elevated'>Elevated</base-button>
  <base-button>Filled / Default</base-button>
  <base-button variant='tonal'>Tonal</base-button>
  <base-button variant='outlined'>Outlined</base-button>
  <base-button variant='text'>Text</base-button>
  <base-button variant='neo'>Neo-Brutalism</base-button>
</DemoComponentCard>

<DemoComponentCard lang={'html'}>
  <base-button block>Block</base-button>
</DemoComponentCard>

<br/>

<style is:inline>
  strong {
    font-weight: bold;
  }
</style>

<p class='text-body-large'>The <code-highlighter inline="true">type</code-highlighter> property property serves as <strong>syntactic sugar</strong>, allowing you to quickly define a button's visual identity without manually configuring individual style attributes.</p>
<p class='text-body-large'><code-highlighter inline="true">type="primary"</code-highlighter>: A shorthand for applying both the <strong>filled</strong> variant and the <strong>primary</strong> brand color simultaneously.</p>

<DemoComponentCard lang={'html'}>
  <base-button type='primary'>Primary</base-button>
  <base-button type='secondary'>Secondary</base-button>
  <base-button type='tertiary'>Tertiary</base-button>
  <base-button type='danger'>Danger</base-button>
</DemoComponentCard>
