---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<p class='text-body-large'>Here are several predefined button styles, each serving its own semantic purpose.
</p>

<DemoComponentCard lang={'html'}>

  <p-button variant='elevated'>Elevated</p-button>

  <p-button>Filled / Default</p-button>

  <p-button variant='tonal'>Tonal</p-button>

  <p-button variant='outlined'>Outlined</p-button>

  <p-button variant='text'>Text</p-button>

  <p-button variant='neo'>Neo-Brutalism</p-button>
</DemoComponentCard>

<HighlighterCard lang={'html'}>
  <div class='component-container'>
    <p-button style='width: 100%'>Block</p-button>
  </div>
</HighlighterCard>

