@mixin _button-color($color) {

  --filled-button-container-color: var(--color-#{$color});
  --filled-button-label-text-color: var(--color-on-#{$color});

  --tonal-button-container-color: var(--color-#{$color}-container);
  --tonal-button-label-text-color: var(--color-on-#{$color}-container);

  --elevated-button-container-color: var(--color-surface-container-low);
  --elevated-button-label-text-color: var(--color-#{$color});

  --outlined-button-outline-color: var(--color-#{$color});
  --outlined-button-label-text-color:  var(--color-#{$color});

  --text-button-label-text-color: var(--color-#{$color});

  --neo-button-container-color: var(--color-#{$color});
  --neo-button-label-text-color: var(--color-on-#{$color});
}

:host([color=primary]) {
  @include _button-color(primary);
}

:host([color=secondary]) {
  @include _button-color(secondary);
}

:host([color=tertiary]) {
  @include _button-color(tertiary);
}

:host([color=success]) {
  @include _button-color(success);
}

:host([color=danger]) {
  @include _button-color(error);
}


:host([color=dark]) {
  --filled-button-container-color: var(--color-on-surface);
  --filled-button-label-text-color: var(--color-surface);

  --tonal-button-container-color: var(--color-surface-container);
  --tonal-button-label-text-color: var(--color-on-surface-container);

  --elevated-button-container-color: var(--color-surface-container-low);
  --elevated-button-label-text-color: var(--color-on-surface);

  --outlined-button-outline-color: var(--color-on-surface);
  --outlined-button-label-text-color: var(--color-on-surface);

  --text-button-label-text-color: var(--color-on-surface);

  --neo-button-container-color: var(--color-on-surface);
  --neo-button-label-text-color: var(--color-surface);
}

:host([color=light]) {
  --filled-button-container-color: var(--color-surface);
  --filled-button-label-text-color: var(--color-on-surface);

  --tonal-button-container-color: var(--color-on-surface-container);
  --tonal-button-label-text-color: var(--color-surface-container);

  --elevated-button-container-color: var(--color-surface-container-low);
  --elevated-button-label-text-color: var(--color-white);

  --outlined-button-outline-color: var(--color-surface);
  --outlined-button-label-text-color: var(--color-surface);

  --text-button-label-text-color: var(--color-surface);

  --neo-button-container-color: var(--color-surface);
  --neo-button-label-text-color: var(--color-on-surface);
}

