@charset "utf-8";
@use "mixin";
@use "device-utils";

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
}


body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
}

html {
  scroll-behavior: smooth;
  visibility: hidden;
  font-size: 16px;
}

/*
html:not(.hydrated)::after {
  content: 'loading...';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
}

html.hydrated {
  visibility: visible;
}*/

.page-with-navigation {
  display: flex;
  flex-direction: row;
}

.page-context-wrapper {
  flex: 1;
}

.side-navigation {
  padding-top: 1.5rem;
  width: 5.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  --icon-size: 1.75rem;
  min-height: 100vh;
}


.side-navigation .search-button {
  background-color: var(--color-primary);
  --icon-color: var(--color-on-primary);
  height: 3.25rem;
  width: 3.25rem;

  border-radius: 16px;
  corner-shape: squircle;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.side-navigation .nav-item {
  margin-bottom: 1rem;
  cursor: pointer;
}

.side-navigation .nav-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 2rem;
}

.side-navigation .nav-item:hover .icon {
  background: var(--color-secondary-container);
  border-radius: var(--global-shape-corner-large);
}

.side-navigation .theme-switcher {
  margin-top: auto;
  margin-bottom: 1.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.side-navigation .home img {
  width: 2rem;
}

.top-nav {
  width: 100%;
  z-index: 1000;
}

body.stop-scroll {
  overflow-y: hidden;
}

#header-menu {
  background: var(--layer-03);
  position: fixed;
  overflow: auto;
  height: 100vh;
  max-height: 100vh;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &.show {
    transform: translateX(0);
  }

  .header-menu-head {
    display: flex;
    justify-content: flex-end;
    height: var(--header-height);
    align-items: center;
  }

  .header-menu-list {
    --goat-menu-background: transparent;
  }

  #header-menu-close-btn {
    --pc-button-border-radius: none;
  }

  goat-menu {
    width: 100%;
  }
}

figure {
  margin: 0;
}

.header-divider {
  height: 1.5rem;
}

.sponsor-btn {
  padding-inline: .5rem;
  --pc-button-border-radius: 100px;
}

#search-header-container {
  position: fixed;
  top: 5rem;
  width: 100%;
  left: 0;

  justify-content: center;
  z-index: 1000;
  display: none;
}

#search-header-container[open] {
  display: flex;
}

#search-header-container #search-container-overlay {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

}

#site-search {
  max-width: 25rem;
}

.heading-scrollable::before {
  content: '';
  display: block;
  height: calc(var(--header-height) + 1rem);
  margin-top: calc(-1 * var(--header-height) - 1rem);
  visibility: hidden;
  pointer-events: none;
}

.sections-wrapper {
  padding-block: var(--spacing-1000);
}

@include mixin.for-phone-only {
  .container-code {
    margin-inline: -1rem;
  }
}


.page-wrapper {
  position: relative;
  margin-block: var(--spacing-200);
}

.back-to-home {
  padding-top: 1rem;
}

.sections-wrapper .section {
  padding-bottom: var(--spacing-600);
}

.sections-wrapper .section:last-child {
  padding-bottom: 0;
}

main {
  position: relative;
  z-index: 0;
}

.main-content {
  margin-top: var(--header-height);
  position: relative;
}
