@charset "utf-8";
@use "mixin";
@use "device-utils";



.page {
  display: flex;
  height: 100vh;
}


.side-navigation-container {
  height: 100vh;
}

.page-context-wrapper {
  flex: 1;
  overflow: auto;
}
