@charset "utf-8";
@use "mixin";
@use "device-utils";



.page {
  display: flex;
  height: 100vh;
}


.side-navigation-container {
  height: 100vh;
}

 .mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  }

.page-context-wrapper {
  flex: 1;
  overflow: auto;
}
