@charset "utf-8";
@use "mixin";

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
}

:root {
  --header-height: 5rem;
  --header-brand-logo-height: 4rem;
}

.header {
  --goat-header-height: var(--header-height);
  --goat-header-width: var(--container-max);
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  min-height: fit-content;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem 1rem;
}

.banner-actions {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}

.banner-content {
  animation: reveal 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s backwards;
}

.banner-logo {
  width: 15rem;
  height: 15rem;
}

.banner-logo path,
.banner-logo circle {
  stroke: var(--color-dark);
}

.banner-content .banner-title {
  margin-bottom: 1rem;
}

.logo-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.logo-card {
  border-radius: var(--shape-corner-medium);
  border: 4px solid var(--color-on-surface);
  background: var(--color-yellow);
  overflow: hidden;
}

.logo-card img {
  width: 18rem;
}

.logo-card .title {
  font-family: "Pacifico", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 2rem;

  border-top: .25rem solid var(--color-on-surface);
  text-align: center;

  background: var(--color-surface);
  padding: 1rem;
}

@include mixin.for-phone-only {
  .banner-actions {
    flex-direction: column;
    width: 100%;
  }
}


.container .section {
  padding: 0 var(--spacing-2000);
  padding-bottom: var(--spacing-600);
}

.container .code-highlighter {
  padding: 0 var(--spacing-2000);
  padding-bottom: var(--spacing-600);
}

goat-text[type='code'] {
  background: var(--layer-03);
}

.made-in-india {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  [class*="pc-text"] {
    margin-bottom: 0;
  }
  .p-link {
    display: flex;
    align-items: center;
  }
}


.made-in-india .country-flag {
  padding: 0 var(--spacing-150);
}

.banner-logo .head {
  transform-origin: center;
}


@media (min-width: 1024px) {
  .made-in-india {
    font-size: 1rem;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    bottom: 2rem;
    left: 3rem;
    text-align: left;
  }

  .social-icons {
    display: flex;
    align-items: center;
    gap: .5rem;

    position: absolute;
    bottom: 2rem;
    right: 0.5rem;
    flex-direction: column;

    pc-button {
      --pc-button-icon-size: 1.5rem;
    }
  }

  .made-in-india:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    height: 1px;
    width: 25px;
    background: var(--color-outline);
  }

  .social-icons:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 1px;
    background: var(--color-outline);
  }

}


@media only screen and (max-width: 1024px) {
  .container {
    .section {
      padding: var(--spacing-600) var(--spacing-400);
    }
    .code-highlighter {
      padding: 0;
    }
  }

  .social-icons {
    display: none;
  }
  .made-in-india {
    display: none;
  }
}


.jumping-word {
  display: inline-block;
  padding-inline: .2rem;
}

.jumping-text {
  position:relative;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform-origin: 50% 100%;
  display: inline-block;
  will-change: text-shadow, transform
}

.jumping-text.hover {
  animation: jumpAnimation 1.5s 1 alternate forwards cubic-bezier(.175, .885, .32, 1.275);
}

@keyframes jumpAnimation {
  0%, to {
    transform: matrix(1, 0, 0, 1, 0, 0)
  }

  25%, 75% {
    text-shadow: -5px 2px 2px rgba(0, 0, 0, .3), 0 5px 12px rgba(0, 0, 0, .3);
    transform: matrix(1.1, 0, 0, .8, 0, 0)
  }

  50% {
    transform: matrix(.8, 0, 0, 1.2, 0, 0) translateY(-10px);
    text-shadow: -40px 20px 20px rgba(0, 0, 0, .3), 0 40px 100px rgba(0, 0, 0, .3)
  }
}
