---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---
<p class='text-body-emphasized'>Fancy larger or smaller spinners? Add size attribute for additional sizes.</p>

<DemoComponentCard lang={'html'}>
  <p-linear-progress value='60' style='--progress-height: 8px'></p-linear-progress>
</DemoComponentCard>
