---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---
<HighlighterCard lang={'html'}>
  <pc-menu class="menu">
    <pc-menu-item value="cut">
      Cut
      <span slot="end">⌘X</span>
    </pc-menu-item>
    <pc-menu-item value="copy">
      Copy
      <span slot="end">⌘C</span>
    </pc-menu-item>
    <pc-menu-item value="paste">
      Paste
      <span slot="end">⌘X</span>
    </pc-menu-item>
    <pc-divider></pc-divider>
    <pc-menu-item value="bold" selected>
      Bold
    </pc-menu-item>
    <pc-menu-item value="italic">
      Italic
    </pc-menu-item>
    <pc-divider></pc-divider>
    <pc-menu-item value="delete" color='danger'>
      Delete
      <p-icon name='delete' slot="end"></p-icon>
    </pc-menu-item>
  </pc-menu>
</HighlighterCard>
