@import "../../globalStyles/commons";

:host {
  display: inline-block;
  pointer-events: none;
  --avatar-size: 2rem;
  --avatar-bg-color: var(--color-primary);
  --avatar-color: var(--color-on-primary);
  --avatar-border-radius: var(--global-shape-corner-full)
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-050);
  line-height: 0;
}

.avatar {
  border-radius: var(--avatar-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--avatar-color);
  width: var(--avatar-size);
  height: var(--avatar-size);
  @include get-typography(body-large-emphasized);

  font-size: calc(var(--avatar-size) * 0.4);

  .image {
    width: 100%;
    height: 100%;
  }
}

.avatar.avatar-initials {
  background: var(--avatar-bg-color);
}

.avatar.avatar-image {
  background: var(--color-primary-30);
}
