@import "../../globalStyles/commons";

:host {
  display: inline-block;
  --tooltip-height: inherit;
  height: var(--tooltip-height);
}

.popover {
  --pc-popover-height: var(--tooltip-height);
}

.tooltip-content {
  @include get-typography(label-small);
  color: var(--color-inverse-on-surface);
  max-width: 18rem;
  --popover-content-background: var(--color-inverse-surface);
  --popover-content-padding: var(--spacing-100) var(--spacing-200);
  --popover-content-caret-size: 0.5rem;
}
