:host {
  display: none;
  pointer-events: none;
  position: absolute;
  border-start-start-radius: var(--focus-ring-shape-start-start);
  border-start-end-radius: var(--focus-ring-shape-start-end);
  border-end-start-radius: var(--focus-ring-shape-end-start);
  border-end-end-radius: var(--focus-ring-shape-end-end);
  inset: calc(-1 * var(--focus-ring-inset, 2px));

  animation-delay: 0s, calc(var(--focus-ring-duration, 600ms) * .25);
  animation-duration: calc(var(--focus-ring-duration, 600ms) * .25), calc(var(--focus-ring-duration, 600ms) * .75);
  animation-timing-function: var(--easing-standard);
  box-sizing: border-box;

  animation-name: outward-grow, outward-shrink;
}

:host([visible]) {
  display: flex;
  outline: 3px solid var(--color-primary);
}
