@use '../../../scss/mixin';

@include mixin.base-styles;

:host {
  display: block;
  width: 100%;
}

.input-element {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.input-wrapper {
  .input {
    flex: 1;
    width: 100%;
    background: none;
    cursor: inherit;
  }

  .password-toggle {
    --button-container-shape: var(--shape-corner-full);
  }


}

.stepper {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

