---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<DemoComponentCard lang={'html'} alignStart={true}>
  <wc-card variant='elevated' elevation='0' style='width: 100%;'>
    <h3>Elevation 0</h3>
  </wc-card>

  <wc-card variant='elevated' elevation='2' style='width: 100%;'>
    <h3>Elevation 2</h3>
  </wc-card>

  <wc-card variant='elevated' elevation='5' style='width: 100%;'>
    <h3>Elevation 5</h3>
  </wc-card>
</DemoComponentCard>
