---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<DemoComponentCard lang={'html'}>
  <wc-card style='min-width: 18rem;'>
    <h3>Order Summary</h3>
    <p>3 items in your cart</p>
    <wc-button size='sm'>Checkout</wc-button>
  </wc-card>
</DemoComponentCard>
