---
export const title = 'Usage';
export const order = 100;
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<DemoComponentCard lang={'html'}>
  <wc-card>
   <wc-card-content style='min-width: 18rem;padding-block: 1rem;'>
      <h3 class="text-title">Order Summary</h3>
      <p class="text-body">3 items in your cart</p>
      <wc-button size='sm'>Checkout</wc-button>
    </wc-card-content>
  </wc-card>

  <wc-card  actionable>
    <wc-card-content style='min-width: 18rem;padding-block: 1rem;'>
      <h3 class="text-title">Order Summary</h3>
      <p class="text-body">3 items in your cart</p>
    </wc-card-content>
  </wc-card>
</DemoComponentCard>
