---
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---

<DemoComponentCard lang={'html'}>
  <wc-card variant='elevated' style='width: 100%;'>
    <h3>Elevated</h3>
    <p>Default surface with elevation.</p>
  </wc-card>

  <wc-card variant='filled' style='width: 100%;'>
    <h3>Filled</h3>
    <p>Container-emphasis card style.</p>
  </wc-card>

  <wc-card variant='outlined' style='width: 100%;'>
    <h3>Outlined</h3>
    <p>Border-emphasis card style.</p>
  </wc-card>
</DemoComponentCard>
