@use '../../scss/mixin';

@include mixin.base-styles;

:host {
  display: inline-block;
}

.arc {
  cursor: pointer;
  transition: filter 150ms ease;

  &:hover {
    filter: brightness(1.2);
  }
}

.item-polyline {
  fill: none;
  stroke-width: 1;
  stroke: var(--color-on-surface);
}

.item-label {
  fill: var(--color-on-surface);
  @include mixin.get-typography('label-medium');
}
