@import "../../../globalStyles/commons";

:host {
  display: inline-block;
  --toogle-track-color: var(--color-primary);
  --toogle-track-off-color: var(--color-surface-container-highest);
}

.toggle {
  position: relative;
  display: flex;
  align-items: center;

  .input-native {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .label {
    @include get-typography(label-medium);
  }


  &.has-content {
    gap: var(--spacing-050);
  }



  .track {
    position: relative;
    background: var(--toogle-track-off-color);
    border: 2px solid var(--color-outline);
    border-radius: var(--global-shape-corner-full);
    cursor: pointer;
    display: flex;
    transition: background-color 200ms cubic-bezier(.2, 0, 0, 1);
    align-items: center;

    width: var(--toggle-width);
    height: var(--toggle-height);
    padding: 0 4px;


    .handle {
      display: block;
      border-radius: var(--global-shape-corner-full);
      transition: all 200ms cubic-bezier(.2, 0, 0, 1);
      background: white;
      height: var(--toogle-handle-radius);
      width: var(--toogle-handle-radius);
      background: var(--toogle-handle-color);
    }
  }


  &.has-focus:not(.active) {
    .track {
      @include focus-ring;
      border-color: var(--color-white);
    }

    &:not(.state-checked) .handle {
      border-color: var(--icon-01);
    }
  }

}


.toggle {
  --toogle-handle-color: var(--color-outline);
}

.toggle.state-checked {
  .track {
    background: var(--toogle-track-color);
  }

  .handle {
    margin-inline-start: calc(100% - var(--toogle-handle-radius));
  }

  &.active .track {
    border-color: var(--toogle-track-color);
  }

  &.has-focus:not(.active) {
    .track {
      @include focus-ring;
      border-color: var(--color-white);
    }
  }

}

.toggle.readonly {
  cursor: default;
  color: var(--text-primary) !important;

  .track {
    background: transparent !important;

    .handle {
      background: var(--color-outline) !important;
    }
  }

}

.toggle.disabled {
  .track {
    border-color: var(--color-on-surface);
    background: var(--toogle-track-off-color);

    .handle {
      background: var(--color-on-surface) !important;
    }
  }
}



/**
 * Sizes
 */
.toggle.size-md {
  --toggle-width: 3.25rem;
  --toggle-height: 2rem;
  --toogle-handle-radius: 16px;

  &.state-checked {
    --toogle-handle-radius: 22px;
  }
}
