@use '../../../scss/mixin';

@include mixin.reset;

:host {
  display: block;
}

slot::slotted(p-accordion-item) {
  border-block-start: 1px solid var(--color-outline);
}

slot::slotted(p-accordion-item:last-child) {
  border-block-end: 1px solid var(--color-outline);
}
