---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
---

<p class='text-body-large'>Here are different types of inputs.</p>

<HighlighterCard lang={'html'}>
  <goat-date-picker label='Date' helper-text='Optional helper text'></goat-date-picker>
</HighlighterCard>
