@charset "utf-8";
@use "mixin";
@use "device-utils";

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
}


body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
}

html {
  scroll-behavior: smooth;
  visibility: hidden;
  font-size: 16px;
}



.page-context-wrapper {
  flex: 1;
}



.top-nav {
  width: 100%;
  z-index: 1000;
}

body.stop-scroll {
  overflow-y: hidden;
}

#header-menu {
  background: var(--layer-03);
  position: fixed;
  overflow: auto;
  height: 100vh;
  max-height: 100vh;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &.show {
    transform: translateX(0);
  }

  .header-menu-head {
    display: flex;
    justify-content: flex-end;
    height: var(--header-height);
    align-items: center;
  }

  .header-menu-list {
    --pc-menu-background: transparent;
  }

  #header-menu-close-btn {
    --pc-button-border-radius: none;
  }

  pc-menu {
    width: 100%;
  }
}

figure {
  margin: 0;
}

.header-divider {
  height: 1.5rem;
}

.sponsor-btn {
  padding-inline: .5rem;
  --pc-button-border-radius: 100px;
}

#search-header-container {
  position: fixed;
  top: 5rem;
  width: 100%;
  left: 0;

  justify-content: center;
  z-index: 1000;
  display: none;
}

#search-header-container[open] {
  display: flex;
}

#search-header-container #search-container-overlay {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

}

#site-search {
  max-width: 25rem;
}

.heading-scrollable::before {
  content: '';
  display: block;
  height: calc(var(--header-height) + 1rem);
  margin-top: calc(-1 * var(--header-height) - 1rem);
  visibility: hidden;
  pointer-events: none;
}

.sections-wrapper {
  padding-block: var(--spacing-1000);
}

@include mixin.for-phone-only {
  .container-code {
    margin-inline: -1rem;
  }
}


.page-wrapper {
  position: relative;
  margin-block: var(--spacing-200);
}

.back-to-home {
  padding-top: 1rem;
}

.sections-wrapper .section {
  padding-bottom: var(--spacing-600);
}

.sections-wrapper .section:last-child {
  padding-bottom: 0;
}

main {
  position: relative;
  z-index: 0;
}

.main-content {
  position: relative;
}
