@use '../../scss/mixin';

@include mixin.base-styles;

:host {
  --item-container-color: transparent;
  --item-height: 3rem;
  --item-multiline-height: 4rem;
  --item-label-text-color: var(--color-on-surface);
}

:host {
  position: relative;
  display: flex;
  min-width: 0;
  max-width: 100%;
}

.item {
  position: relative;
  display: flex;
  flex: 1;
  gap: var(--item-spacing, 1rem);
  padding-block: 0.625rem;
  padding-inline: var(--item-padding-inline, 1rem);

  overflow: hidden;

  color: var(--item-label-text-color);
  --icon-color: var(--item-label-text-color);
  opacity: var(--item-label-text-opacity, 1);

  font-family: var(
    --item-label-font-family,
    var(--typography-body-large-font-family)
  ) !important;
  font-size: var(
    --item-label-font-size,
    var(--typography-body-large-font-size)
  ) !important;
  font-weight: var(
    --item-label-font-weight,
    var(--typography-body-large-font-weight)
  ) !important;
  line-height: var(
    --item-label-line-height,
    var(--typography-body-large-line-height)
  ) !important;
  letter-spacing: var(
    --item-label-letter-spacing,
    var(--typography-body-large-letter-spacing)
  ) !important;

  [name='overline'] {
    color: var(--item-outline-text-color);
    font-family: var(
      --item-outline-label-font-family,
      var(--typography-body-medium-font-family)
    ) !important;
    font-size: var(
      --item-outline-label-font-size,
      var(--typography-body-medium-font-size)
    ) !important;
    font-weight: var(
      --item-outline-label-font-weight,
      var(--typography-body-medium-font-weight)
    ) !important;
    line-height: var(
      --item-outline-label-line-height,
      var(--typography-body-medium-line-height)
    ) !important;
    letter-spacing: var(
      --item-outline-label-letter-spacing,
      var(--typography-body-medium-letter-spacing)
    ) !important;
  }

  [name='supporting-text'] {
    color: var(--item-supporting-text-color, var(--color-on-surface-variant));
    font-family: var(
      --item-supporting-text-font-family,
      var(--typography-body-medium-font-family)
    ) !important;
    font-size: var(
      --item-supporting-text-font-size,
      var(--typography-body-medium-font-size)
    ) !important;
    font-weight: var(
      --item-supporting-text-font-weight,
      var(--typography-body-medium-font-weight)
    ) !important;
    line-height: var(
      --item-supporting-text-line-height,
      var(--typography-body-medium-line-height)
    ) !important;
    letter-spacing: var(
      --item-supporting-text-letter-spacing,
      var(--typography-body-medium-letter-spacing)
    ) !important;
  }

  [name='trailing-supporting-text'] {
    color: var(
      --item-trailing-supporting-text-color,
      var(--color-on-surface-variant)
    );
    font-family: var(--item-trailing-supporting-text-font-family) !important;
    font-size: var(--item-trailing-supporting-text-font-size) !important;
    font-weight: var(--item-trailing-supporting-text-font-weight) !important;
    line-height: var(--item-trailing-supporting-text-line-height) !important;
    letter-spacing: var(
      --item-trailing-supporting-text-letter-spacing
    ) !important;
  }

  .default-slot {
    // Needed since the default slot can have just text content, and ellipsis
    // need an inline display.
    display: inline;
  }

  .default-slot,
  .text ::slotted(*) {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
  }

  .non-text {
    align-items: center;
    display: flex;
    height: fit-content;
    --icon-size: 1.5rem;
  }

  .non-text,
  .text {
    z-index: 0;
    min-height: var(--item-height);
  }
}

:host([multiline]) {
  .non-text,
  .text {
    min-height: var(--item-multiline-height);
  }
}

// A slot for background container elements, such as ripples and focus rings.
[name='container']::slotted(*) {
  inset: 0;
  position: absolute;
}
