---
import HighlighterCard from '../../../../components/HighlighterCard.astro';
import DemoComponentCard from '../../../../components/DemoComponentCard.astro';
---


<p class='text-body-large'>Image specified in <code class="text-code-block">src</code> is displayed on light theme. And image specified in <code class="text-code-block">dark-src</code> is displayed on dark theme</p>
<DemoComponentCard lang={'html'}>

  <wc-image 
   style="width:20rem"
   
   src="https://images.unsplash.com/photo-1519187903022-c0055ec4036a?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
   
   dark-src="https://images.unsplash.com/photo-1590418606746-018840f9cd0f?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
   
   preview
   />
</DemoComponentCard>
